<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="serversinfos" descriptioni18n="module.description" icon="serverinfos.png" longdescriptioni18n="module.longdescription" version="1.0.0" />
	</general>
	<admin>
  		<link url="copix|" captioni18n="module.link.copix" credentials="basic:admin"></link>
  		<link url="webserver|" captioni18n="module.link.webserver" credentials="basic:admin"></link>
  		<link url="dbserver|" captioni18n="module.link.dbserver" credentials="basic:admin"></link>
 	</admin>
</moduledefinition>
