<?xml version="1.0"?>
<moduledefinition>
 <general>
  <default name="chart_swf" description="Chart (SWF)" longdescription="Chart avec la bibliothèque SWFChart"  icon="chart.png"  />
 </general>
 <dependencies>
  <dependency name="chart" kind="module"/>
 </dependencies>
 <parameters>
  <parameter name="license" default="" caption="License Id" />
 </parameters>
</moduledefinition>