/temp/*
/project/config/copix.conf.php
/project/modules/public/stable/standard/default/module.xml
/var/config/db_profiles.conf.php
/var/config/plugins/default/configure.plugin.conf.php
/var/config/plugins/default/i18n.plugin.conf.php
/var/data/fichesecoles/*
/var/data/admindash/*
/var/data/blog/*
/var/data/concerto/*
/var/data/minimail/*
/www/static/classeur/*
/www/static/malle/*
/www/static/album/*
/www/static/prefs/*
/www/static/images/*
/www/upload/*
/www/upload/.htpasswd
/www/upload/.htdigest
/project/themes/*
/www/themes/*
!/project/themes/default
!/www/themes/default
