
div.comm_dossier {
	background: #F1EED7;
	padding:5px;
	-moz-border-radius:6px;
	margin:7px;
	border:solid 2px #ddd;
}

div.comm_dossier div.entete {
	border-bottom: solid 1px #fff;
	padding-bottom:5px;
}
div.comm_dossier div.entete span.nom {
	font-weight:bolder;
	font-size:120%;
}


div.comm_dossier div.entete div.decision {
	float:right;
	font-size:1.1em;
	font-weight:bolder;
}

div.comm_dossier div.entete div.decision span.decision {
	color:#fff;
	padding:3px;
	-moz-border-radius:4px;
}
div.comm_dossier input.decision {
	background:#f3f3f3;
	border:dotted 1px;
}
div.comm_dossier div.entete div.decision span.decision1 { /* Accepte */
	background:#4C9E55;
}
div.comm_dossier input.decision1 {
	color:#4C9E55;
}
div.comm_dossier div.entete div.decision span.decision2 { /* Ajourne */
	background:#C8BE9E;
}
div.comm_dossier input.decision2 {
	color:#888;
}
div.comm_dossier div.entete div.decision span.decision3 { /* Refuse */
	background:#C63634;
}
div.comm_dossier input.decision3 {
	color:#C63634;
}


div.comm_dossier div.entete div.decision input.annuler {
	font-size:0.8em;
	border:0;
	background:#eee;
	color:#999;
	padding:0;
	margin:0;
}



div.comm_dossier div.lib {
	float:left;
	width:90px;
}

div.comm_dossier div.jours {
	/*
	
	
	*/
	
	margin-left:90px;
	background:red;
}

div.comm_dossier div.jours ul {
	margin:0;
	padding:0;
	list-style:none;
}
div.comm_dossier div.jours li {
	float:left;
	margin:0;
	padding:2px;
	border-color:#bbb;
	border-style:solid;
	border-width:1px 1px 1px 0px;
	width:17px;
	text-align:center;
}
div.comm_dossier div.jours li.first {
	border-width:1px 1px 1px 1px;
}

div.comm_dossier span.jour {
	width:20px;
	
	border-right:solid 1px #333;
}



