
#dossier_menu {
	height:20px;
	font-size:1.3em;
	/*line-height: 1.4em;*/
	text-transform: lowercase; 
	font-weight: bold;
	padding-left:10px;
	letter-spacing:1px;
	text-align:center;
	border-bottom:solid 1px #ddd;
}

#dossier_menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
#dossier_menu li {
	float:left;
}
#dossier_menu a {
	margin-right:13px;
	display:block;
	padding: 0px 5px 0px 5px;
	text-decoration: none;
	color:#fff;
	border-bottom:solid 1px #fff;
}
#dossier_menu a:hover {
	border-color:#B35B9C;
}
#dossier_menu #current {
	
}
#dossier_menu #current a {
	color: #B35B9C;
	border-bottom:solid 2px #B35B9C;
}




table.identite {
	background: #F1EED7;
	padding:2px;
	border-radius:6px;
	-moz-border-radius:6px;
}
table.identite td {
	padding-right:5px;
}
table.identite td.lib {
	color: #D25109;
	font-size:1em;
	font-weight: normal;
}	