<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="kernel" description="Noyau" longdescription="Noyau" />
 	</general>
	<parameters>
  	<parameter name="jeuEssaiInstalled" caption="kernel.parameter.jeuEssaiInstalled" default="0" />
		<parameter name="gestionAutonomeEnabled" caption="Gestion autonome active" default="0" />
	</parameters>
</moduledefinition>
