<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="kernel" description="Noyau" longdescription="Noyau" />
 	</general>
	<parameters>
  	<parameter name="jeuEssaiInstalled" caption="kernel.parameter.jeuEssaiInstalled" default="0" />
		<parameter name="gestionAutonomeEnabled" caption="Gestion autonome active" default="1" />
		<parameter name="groupeAssistance" caption="Id du groupe d'assistance" default="0" />
    <parameter name="carnetDeLiaison" caption="Activation du carnet de liaison" default="0" />
    <parameter name="defaultVocabularyCatalog" caption="Catalogue de vocabulaire par defaut" default="1" />
	</parameters>
</moduledefinition>
