@CHARSET "UTF-8";

.comments dt {
	position: relative;
	top: 1px;
	display: block;
	padding: 10px 0 30px 0;
	background: transparent url('../img/comments_start.png') no-repeat 30% 100%;
}

.comments dd {
	border: 1px solid #4b4d46;
	border-width: 1px 2px 2px 1px;
	background: #868e74;
	padding: 10px;
	margin: 0 20px 20px 0;
	font-size: 1.1em;
	line-height: 1.4;
}
.comment-id {
	font-weight: bold;
	font-size: 2em;
}
.comments dd * { padding: 5px 0; font-size: 1em; }
.comments-form input, textarea {width: 80%}
.comments-form input.preview, input.submit {width: auto}