/**
 * THEMES - core_debug.css
 * Colorisation du layout pour debug
 *
 * @package	Iconito 2010
 * @cdate 22.01.2010
 * @mdate 22.01.2010
 * @author	Stephane Holtz <sholtz@cap-tic.fr>
 */

body.debug .debug-layout {
	position: absolute;
	font-size: 9px;
	color: #000;
	background: #fff;
	z-index: 0;
	opacity: 0.5;
	border: solid 1px #000;
	padding: 1px;
	}

body.debug .debug, body.debug .debug a, body.debug .debug a:visited  {
	font-size: 9px;
	color: #BBB;
}

body.nodebug .debug-layout {
	display: none;
	}

body.nodebug .debug, body.nodebug .debug a, body.nodebug .debug a:visited  {
	display: none;
}