/* clearing & floating */
/* http://www.positioniseverything.net/easyclearing.html */
/* http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/#comment28 */
html { height: auto; margin-bottom:0; }
body { position:relative }           
* html body { position:static }      
* html #content { overflow: visible; }

body { height: 1% }
div.wrapper { zoom:1 }          
div.wrapper { height: 1% }                                       

* html #left { display: inline }
* html #right { display: inline }

* html .floatleft { display:inline; }
* html .floatright { display:inline; }

* html textarea { overflow:scroll; overflow-x: hidden; }
* html input { overflow: hidden; }

* html body a, * html body a:hover { background-color: transparent; }

body ol li { display:list-item; }

.wrapper-shifter 	{ z-index: 999; }
.submenu-marger {
	margin-top: 54px;
	}

#submenu .menuitems {
	line-height: 118%;
	}
	
ul.usermenu li.menu-minimail a#counter span#counter-text {
	padding-top: 4px;
	width: 17px;
	}

ul {
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}
/*img, div, a, input { behavior: url(/htc/iepngfix.htc) }*/
/*img, div, a, input { behavior: url(/htc/PIE.htc) }*/

/* Classeur */
#classeur .thumbView li .datas { 
	position:static;
	overflow:hidden;
}
#classeur .thumbView li .footerData {
	position:static;
}
#classeur #sidebar .labelFolder {
	width:84%;
	float:right;
}
#classeur #sidebar p {
	clear:both;
	height:1.5em;
}
/* End Classeur */


/* Cahier de textes */
#cahierdetextes #submenu .studentMenu ul li a {
	display:block;
	width:110px;
}
/* End Cahier de textes*/