/**
 * THEMES - core_controls.css
 * Modele couleur
 *
 * @package	Iconito 2010
 * @cdate 22.01.2010
 * @mdate 22.01.2010
 * @author	Stephane Holtz <sholtz@cap-tic.fr>
 */

/************************************************
 * Mise en page du bloc de contenu
 ***********************************************/
.content-panel {
	background: #fff;
	padding: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 6px;
	}
 
.content-panel-edit {
	background: #fff url(../images/menu_update.png) 8px 8px no-repeat;
	padding-left: 42px;
	}

.content-panel-button {
	text-align: center;
	padding: 3px;
	}

.content-info {
	padding: 6px 0px;
	margin-bottom: 6px;
	font-style: italic;
	}

/************************************************
 * Couleurs des textes
 ***********************************************/
.ink_blue * {
	color: #354e81;
	}
.ink_blue .title span {
	color: #222;
	text-shadow: 1px 1px 2px #f0f0f0;
	}
	
/************************************************
 * PopUps
 ***********************************************/
.popup-title {
	display: block;
	background: #0c92b1;
	font-size: 150%;
	color: #fff;
	padding: 6px;
	}

.popup-subtitle {
	display: block;
	font-size: 120%;
	padding: 0px;
	margin: 6px 0;
	border-bottom: solid 1px #ddd;
	}


/************************************************
 * Hacks JQueryUI
 ***********************************************/
img.ui-datepicker-trigger {
	vertical-align: bottom;
	}
	
p.ui-state-error {
	padding: 0 6px;
	border: solid 1px #ddd;
	}

.ui-widget-overlay {
	background: #666;
	}
/************************************************
 * Titrage
 ***********************************************/
h1 {
	font-size: 150%;
	font-weight: normal;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px;
    margin-bottom: 8px;
	}
	
h2 {
    text-align: left;
    font-size: 120%;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #e0e0e0;
    margin: 8px 0px;
	}
	
h4{
    text-align: left;
	}

.explanation {
    text-align: left;
    font-size: 110%;
    line-height: 90%;
    font-weight: normal;
    font-style: italic;
    margin: 0px;
    padding: 0px;
    margin: 8px 0px;
	}
/************************************************
 * Boutons
 ***********************************************/
.loading-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	margin: auto;
	}

.loading-button a {
	position: relative;
    display: block;
    width: 80%;
    min-height: 140px;
    font-size: 100%;
    text-align: center;
    margin: 5% 10%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #f0f4f0;
    padding: 6px;
	}

.loading-button a:hover {
    background-color: #ffffff;
	}

.loading-button a div.button-title {
	font-size: 220%;
	color: #999;
	margin: 40px 0;
	}

.loading-button a div.button-subline {
    font-size: 90%;
    line-height: 90%;
	}

.button {
	position: relative;
	display: inline-block;
	font-size: 12px;
	padding: 3px 6px 3px 6px;
	min-width: 24px;
	min-height: 14px;
	background-color : #fff;
	border: solid 1px #fff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	}
	
.button:hover {
	background-color: #f0f4f0;
	border: solid 1px #bad521;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
	}

.button-view		{ padding-left: 26px; background: #fff url(../images/action_read.png) 4px 50% no-repeat; }
.button-update		{ padding-left: 26px; background: #fff url(../images/action_update.png) 4px 50% no-repeat; }
.button-results		{ padding-left: 26px; background: #fff url(../images/action_results.png) 4px 50% no-repeat; }
.button-save		{ padding-left: 26px; background: #fff url(../images/action_save.png) 4px 50% no-repeat; }
.button-add			{ padding-left: 26px; background: #fff url(../images/action_add.png) 4px 50% no-repeat; }
.button-delete		{ padding-left: 26px; background: #fff url(../images/action_delete.png) 4px 50% no-repeat; }
.button-cancel		{ padding-left: 26px; background: #fff url(../images/action_cancel.png) 4px 50% no-repeat; }
.button-continue	{ padding-left: 26px; background: #fff url(../images/action_continue.png) 4px 50% no-repeat; }
.button-back		{ padding-left: 26px; background: #fff url(../images/action_back.png) 4px 50% no-repeat; }
.button-next		{ padding-left: 26px; background: #fff url(../images/action_next.png) 4px 50% no-repeat; }
.button-previous	{ padding-left: 26px; background: #fff url(../images/action_previous.png) 4px 50% no-repeat; }
.button-continue	{ padding-left: 26px; background: #fff url(../images/action_continue.png) 4px 50% no-repeat; }
.button-info		{ padding-left: 26px; background: #fff url(../images/action_info.png) 4px 50% no-repeat; }
.button-attach		{ padding-left: 26px; background: #fff url(../images/action_attach.png) 4px 50% no-repeat; }
.button-file		{ padding-left: 26px; background: #fff url(../images/action_attach.png) 4px 50% no-repeat; }
.button-confirm		{ padding-left: 26px; background: #fff url(../images/action_confirm.png) 4px 50% no-repeat; }

.button-p-first		{ padding-left: 26px; background: #fff url(../images/action_p_first.png) 4px 50% no-repeat; }
.button-p-previous	{ padding-left: 26px; background: #fff url(../images/action_p_previous.png) 4px 50% no-repeat; }
.button-p-play		{ padding-left: 26px; background: #fff url(../images/action_p_play.png) 4px 50% no-repeat; }
.button-p-pause		{ padding-left: 26px; background: #fff url(../images/action_p_pause.png) 4px 50% no-repeat; }
.button-p-stop		{ padding-left: 26px; background: #fff url(../images/action_p_stop.png) 4px 50% no-repeat; }
.button-p-open		{ padding-left: 26px; background: #fff url(../images/action_p_open.png) 4px 50% no-repeat; }
.button-p-next		{ padding-left: 26px; background: #fff url(../images/action_p_next.png) 4px 50% no-repeat; }
.button-p-last		{ padding-left: 26px; background: #fff url(../images/action_p_last.png) 4px 50% no-repeat; }
.button-p-record	{ padding-left: 26px; background: #fff url(../images/action_p_record.png) 4px 50% no-repeat; }
.button-p-replay	{ padding-left: 26px; background: #fff url(../images/action_p_replay.png) 4px 50% no-repeat; }

.button-sort {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 10px;
	width: 14px;
	}
	
.button-sortup { background: url(../images/sort_up_off.png) 0 0 no-repeat; cursor: pointer; }
.button-sortdown { background: url(../images/sort_down_off.png) 0 0 no-repeat; cursor: pointer; }

.button-sortup:hover { background: url(../images/sort_up_on.png) 0 0 no-repeat; cursor: pointer; }
.button-sortdown:hover { background: url(../images/sort_down_on.png) 0 0 no-repeat; cursor: pointer; }
	
.button-drag {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 36px;
	width: 11px;
	vertical-align: middle;
	}
	

/************************************************
 * Warnings
 ***********************************************/
.warning {
	position: relative;
	display: inline-block;
	font-size: 12px;
	padding: 3px 6px 3px 6px;
	min-width: 42px;
	min-height: 42px;
	background-color : #fff;
	border: solid 1px #fff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 14px;
}

.warning-exclamation { padding-left: 60px; background: #fff url(../images/warn_exclamation.png) 4px 50% no-repeat; }
.warning-information { padding-left: 60px; background: #fff url(../images/warn_information.png) 4px 50% no-repeat; }

/************************************************
 * Formulaires
 ***********************************************/
#loginBar input#login, input#password {
	border: solid 1px #0c92b1;
	background: #f0f0f0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 18px;
	padding: 2px;
	margin: 0;
	color: #333;
	}

#loginBar .button-confirm {
	background-color:#f0f0f0;
	border: solid 1px #0c92b1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-width: 0px;
	padding: 2px 2px 2px 20px;
	}

#loginBar input#login:hover,#loginBar input#password:hover,#loginBar .button-confirm:hover {
	background-color:#fff;
	}

input.form_button {
	border: solid 1px #333333;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #F0F0F0;
	color: #333333;
}

input.form_button:hover {
	border: solid 1px #333333;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #D9E575;
	color: #333333;
}

form input[type="text"], form textarea {
	border: solid 1px #f0f4f0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 3px;
	}
	
form input[type="text"]:hover, form textarea:hover {
	border: solid 1px #bad521;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	}

form label {
	display: inline-block;
	color: #aaa;
	}

form label a {
	display: inline-block;
	color: #aaa;
	}

form select {
	border: solid 1px #f0f4f0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 3px;
}

form select:hover {
	border: solid 1px #bad521;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	}

input.file-attach {
	width: 400px;
}

input.preFilled, textarea.preFilled {
    color: #cccccc;
}

form select.multicombo {
	height: 120px;
}

#content-popup .option-bar {
	border-top: solid 1px #f0f4f0;
	border-bottom: solid 1px #f0f4f0;
	padding: 3px;	
	}

#content-popup .option-bar .option1 {
	float: left;
	width: 50%;
	margin-right: 30px;	
	}

#content-popup .popup-panel {
	background-color: #f0f4f0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 6px;	
	}

/************************************************
 * Tableaux
 ***********************************************/
table.std {
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
	
table.std th {
	font-weight: normal;
	}	
	
	
	
/************************************************
 * Fenetre modale
 ***********************************************/
#dialog-message {
	padding: 12px;
	font-size: 14px;
	text-align: center;
	}

#dialog-message ul {
	padding: 12px;
	font-size: 14px;
	list-style-type: none;
	text-align: left;
	}

#dialog {
	padding: 12px;
	font-size: 14px;
	}

#dialog ul {
	padding: 12px;
	font-size: 14px;
	list-style-type: none;
	text-align: left;
	}

/************************************************
 * Pastilles de progression
 ***********************************************/
.badge {
	display: inline-block;
	width: 17px;
	height: 16px;
	padding: 1px 1px 1px 0;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background: #bad521;
	color: #fff;
	font-size: 90%;
	text-align: center;
	letter-spacing: -0.1em;
	}
	
.badge-off {
	background: #999;
	color: #fff;
	}
	
.badge-on {
	background: #bad521;
	color: #fff;
	}
	
.badge-current {
	background: #f3a807;
	color: #fff;
	}
	


/************************************************
 * A trier!
 ***********************************************/


div#carres {
	text-align:center;
}

div#carres div.carres_menu {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	width:745px;
}

div#carres div.carres_menu .button-block {
	background-color:#EEEEEE;
	color:#999999;
	display:block;
	float:left;
	font-size:200%;
	height:55px;
	margin:10px;
	padding:30px 0;
	text-decoration:none;
	width:340px;
}

div#carres div.carres_menu a:hover {
	background-color:#FFFFFF;
	color:#666666;
}

div#carres div.carres_menu a span {
	display:block;
	font-size:0.4em;
}

div.block {
}