/**
 * THEMES - core_layout.css
 * Mise en page globale
 *
 * @package	Iconito 2010
 * @cdate 22.01.2010
 * @mdate 22.01.2010
 * @author	Stephane Holtz <sholtz@cap-tic.fr>
 */

/************************************************
 * DEBUG STUFF
 ***********************************************/
body.debug .debug-layout {
	position: absolute;
	font-size: 9px;
	color: #000;
	background: #fff;
	z-index: 0;
	opacity: 0.5;
	border: solid 1px #000;
	padding: 1px;
	}

body.debug .debug, body.debug .debug a, body.debug .debug a:visited  {
	font-size: 9px;
	color: #BBB;
}

body.nodebug .debug, body.nodebug .debug a, body.nodebug .debug a:visited  {
	display: none;
}

/************************************************
 * MAIN DESIGN POSITIONNING
 ***********************************************/
body {
	margin:0;
	padding:0;
	}

#main-wrapper 	{ width: 960px; }
#left 			{ width: 188px; margin-right: -200px; padding: 12px 12px 12px 0; }
#right 			{ width: 188px; margin-left: -200px; padding: 12px 12px 12px 0; }
#content		{ margin-left : 200px; } 	/* #left width [+ additional white space] */
#content		{ margin-right : 200px; }	/* #right width [+ additional white space] */

.clear		{ clear: both; }
.clearBoth 	{ clear: both; width:100%; }

.show 	{ visibility:visible; }
.hidden { visibility: hidden; display: none; }
.displayNone { display: none; }
.hiddenClean {position:absolute; top:-999em; left:-999em;}

.left 	{ text-align: left; }
.center	{ text-align: center; }
.right 	{ text-align: right; }

.floatleft 	{ float: left; }
.floatright { float: right; }

a img {border:0;}

.opacity100 {
	opacity : 1;
/*	filter : alpha(opacity=100); */
	}

.opacity50 {
	opacity : 0.7;
/*	filter : alpha(opacity=70); */
	}

.wrapper 			{ clear: both; position: relative; margin: 8px auto; }
.wrapper-expander 	{ clear: both; position: relative; width: 200%; }
.wrapper-shifter 	{ position: relative; float: left; left: 50%; width: 50%; }


#original-layout {
	margin: 20px 0px;
	padding: 20px 0px;
	border: solid 2px #FFCC00;
	}

#absolute {
	position: absolute;
	overflow: hidden;
	}

#popup {
	position: absolute;
	overflow: hidden;
	}

#page {
	position: relative;
	overflow: hidden;
	clear: both;
	overflow: hidden;
	padding: 0px;
	}

#page-header {
	position: relative;
	overflow: hidden;
	clear: both;
	height: 67px;
	}
	
#page-middle {
	position: relative;
	overflow: hidden;
	}
	
#header {
	position: relative;
	overflow: hidden;
	clear: both;
	overflow: hidden;
	}
	
#top {
	position: relative;
	overflow: hidden;
	overflow: hidden;
	}
	
#menuleft {
	position: absolute;
	left: 6px;
	display: block;
	overflow: hidden;
	width: 35%;
	}
	
#menuright {
	position: absolute;
	right: 6px;
	display: block;
	overflow: hidden;
	width: 40%;
	text-align: right;
	}

#menucenter {
	position: absolute;
	text-align: center;
	left: 0px;
	width: 100%;
	}

#breadcrumb {
	position: relative;
	overflow: hidden;
	clear: both;
	display: none;
	}
	
#left {
	position: relative;
	overflow: hidden;
	float: left;
	}
	
#right {
	position: relative;
	overflow: hidden;
	float: left;
	}

#content {
	position: relative;
	left: -100%;
	min-height: 400px;
	z-index: 999;
	}

#contenttop {
	position: relative;
	background: #F9F9F0;
	}

#contentmain {
	position: relative;
	}

#contentbottom {
	position: relative;
	}

#bottom {
	clear: both;
	position: relative;
	}

#footer {
	clear: both;
	position: relative;
	}
	
#debug {
	clear: both;
	position: relative;
	}
	
#content-popup {
	position: relative;
	}

/************************************************
 * THM : GENERIC THEME SPECIFIC ARTEFACTS
 ***********************************************/

body.thm		{ background: #bad521 url(../../../themes/default/images/thm_body_BG.gif) repeat-x scroll 0 0; }

#page .thm-logo	{ position: relative; height: 54px; background: url(../../../themes/default/images/thm_header_logo.png) no-repeat 0 5px; }
#page .thm-logo h1 {margin:0; border:0;}
#page .thm-logo a.logo { position: absolute; width:170px; height:50px; z-index: 1; }
#page .thm-HL	{ position: relative; background: url(../../../themes/default/images/thm_page_HL.png) no-repeat left top; }
#page .thm-HR	{ position: relative; background: url(../../../themes/default/images/thm_page_HR.png) no-repeat right top; }
#page .thm-HM	{ position: relative; background: url(../../../themes/default/images/thm_page_HM.png) no-repeat center top; height: 67px; margin: 0 35px; }
#page .thm-MTL	{ position: relative; background: url(../../../themes/default/images/thm_page_MTL.png) no-repeat left top; }
#page .thm-MTR	{ position: relative; background: url(../../../themes/default/images/thm_page_MTR.png) no-repeat right top; }
#page .thm-ML	{ position: relative; background: url(../../../themes/default/images/thm_page_ML.png) repeat-y left top; }
#page .thm-MR	{ position: relative; background: url(../../../themes/default/images/thm_page_MR.png) repeat-y right top; }
#page .thm-BL	{ position: relative; background: url(../../../themes/default/images/thm_page_BL.png) no-repeat left top; }
#page .thm-BR	{ position: relative; background: url(../../../themes/default/images/thm_page_BR.png) no-repeat right top; }
#page .thm-BM	{ position: relative; background: url(../../../themes/default/images/thm_page_BM.png) repeat-x center top; height: 17px; margin: 0 17px; }
	
.filler { position: relative; width: 100%; }
.padder { position: relative; overflow: hidden; padding: 12px 6px 0 6px; }
.marger { position: relative; overflow: hidden; margin: 0 17px; }

#breadcrumb { background: url(../../../themes/default/images/thm_breadcrumb_bg.png) repeat-x center center; padding: 6px; height: 14px; }
#page-middle { background: #fff url(../../../themes/default/images/page_background.jpg) repeat-x 0 0; }

div.fixed {
  clear:both;
}

/* jQuery UI */
.content .ui-widget {font-size:1em;}

/* Affichage des tableaux */
table.viewItems {
	margin:3px 0; padding:2px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
	width:100%;
	background:#FFFFFF;
        table-layout:fixed;
}
table.viewItems tr.even {
	background:#F5F5F5;
}
table.viewItems th {
	background:#eee;
	text-align:center;
}
table.viewItems th.actions {
	width:200px;
}
table.viewItems th.extraSmall {width:30px;}
table.viewItems td {
    max-width:50%;
    overflow:hidden;
}
table.viewItems td a.button:link, 
table.viewItems td a.button:visited {
	border:1px solid #ddd;
}
table.viewItems ul {
	margin:0; padding:.3em 0 .3em 2em;
}

table.editItems {
	margin:3px 0; padding:2px;
	width:100%;
}
table.editItems th {
	text-align:right;
	width:40%;
}
table.editItems .submit input {margin:5px 10px;}