@CHARSET "UTF-8";

span.dynCalendar-button img, div.dynCalendar img { border:0; }

div.dynCalendar {
	background-color: #c0c0c0;
	border: 2px outset white;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}
div.dynCalendar table {background-color: #eeeeee; }

div.dynCalendar th {
	background-color: #eeeeee;
	border: 1px solid #c0c0c0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
	text-align: center;
}
div.dynCalendar tr.dynCalendar_header th {
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
}
div.dynCalendar td { text-align:right;}

div.dynCalendar td.dynCalendar_day {
	background-color: #eeeeee;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

div.dynCalendar td.dynCalendar_today {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

div.dynCalendar p { margin:0; text-align:center;}