/* 
    Document   : module_admindash
    Created on : 9 sept. 2010, 10:37:19
    Author     : alemaire
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#dash-pic img{
    margin: 10px;
    float: left;
    margin-right: 20px;
}

.socialMedia {
	float:right;
	width:45%;
	border-radius:5px;
}
