div.album div.photo {
	border: 1px solid #000;
	float: left;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}

div.album div.photosmall img {
	border: 1px solid #000;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}

div.album div.photoseule img {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
	background-color: #FFF;
}

div.album div.photo a.album {
	text-decoration: none; display: block; width: 128px; height: 128px; background-image: url(../images/photoalbum.jpg);
}
div.album div.photo a.parent {
	text-decoration: none; display: block; width: 128px; height: 128px; background-image: url(../images/photoalbum_parent.jpg);
}


div.album div.photo {
	border: 1px solid #000;
	float: left;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}


table.liste tr td {
	margin: 0px;
	padding: 10px;
}

table.liste tr img {
	border: 1px solid #000;
	padding: 10px;
	background-color: #EEE;
}

div.album div.folder_action {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	background-color: #EEE;
}

div.album_petit_poucet {
font-size:11px;
margin:0 3px 6px;
}

div.album-emptyfolder {
	background-color: #FCFCFC;
	border: 1px solid #CCC;
	margin: 4px;
	margin-top: 8px;
	padding: 5px;
}