TABLE.grvilles LABEL.gras {
	font-weight: bold;
}

TABLE.grvilles H2 {
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
}

TABLE.grvilles DIV.button_like {
	margin-bottom: 10px;
}

TABLE.grvilles UL {
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	margin-top: 5px;
	list-style-type: square;
}

TABLE.grvilles P {
	margin: 0px;
}

TABLE.grvilles P.form_nom {
	padding-top: 20px;
	padding-bottom: 15px;
}

TABLE.grvilles P.form_submit {
	padding-right: 20px;
	text-align: right;
}

TABLE.grvilles A.button_like {
	height: 20px;
}

TABLE.grvilles P#delete_confirm {
	padding: 30px;
	padding-bottom: 10px;
	text-align: center;
}

TABLE.grvilles P#delete_confirm A {
	display: block;
}

TABLE.grvilles P#delete_confirm A.confirm {
	border: 3px solid #F66;
	background-color: #FCC;
	padding: 10px;
	color: black;
	text-decoration: none;
	width: 200px;
	margin: auto;
	margin-bottom: 10px;
}

TABLE.grvilles P#delete_confirm A.confirm:hover {
	border: 3px solid red;
	background-color: #F99;
}