
div#fichesecoles {
	padding:2px;
	min-height:350px;
}
div#fichesecoles > p.right {margin:0;}
div#fichesecoles table {
  width:100%;
}
div#fichesecoles > table {width:100%;
	table-layout:fixed;
}
div#fichesecoles td.pratique {
	vertical-align:top;
	width:240px;
	border-right:dotted 2px #ddd;
	padding:5px;
}
div#fichesecoles td.texte, 
div#fichesecoles td.horairesCol, 
div#fichesecoles td.voirBlogs {
	vertical-align:top;
	padding:5px;
	/*font-size:0.9em;*/
}
div#fichesecoles td.pratique a.fichier {
    padding-left:26px;
    line-height:24px;
    height:24px;
    display:inline-block;
    background: transparent url(../images/menu/menu_download.png) left center no-repeat;
}
div#fichesecoles td.pratique a:hover {
    text-decoration:underline;
}

div#fichesecoles div.photo img {
	max-width:100%; height:auto;
}
div#fichesecoles div.ecole_classe_enseignant table td {
	vertical-align:top;
}
div#fichesecoles a.viewuser:hover, 
div#fichesecoles #ficheblogs a:hover {
	border-bottom:1px dotted;
}

div#fichesecoles div.fiche {
	font-size:1.1em;
	font-weight:bold;
	border-bottom:solid 1px #ccc;
	padding:0;
	margin:10px 0 7px 0;
}
div#fichesecoles div.ficheVille {
	background:#F9F7DF;
	padding:5px;
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;
	margin-bottom:10px;
}
div#fichesecoles div.ficheVille div.fiche {
	margin-top:0;
}

div#fichesecoles .contentBox {
	background:#f9f9f9;
	padding:5px;
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;
}
div#fichesecoles .contentBox * {
	padding:0; margin:0; border:0;
}
div#fichesecoles .contentBox p {
	margin:0.5em 0;
}
div#fichesecoles .contentBox ul,
div#fichesecoles .contentBox ol {
	margin:0.5em 1.5em;
}
div#fichesecoles .contentBox a {text-decoration:underline;}
div#fichesecoles .contentBox a:hover {text-decoration:none;}
div#fichesecoles div.classes div.fiche,
div#fichesecoles div.horaires div.fiche {
	margin-top:0;
}
div#fichesecoles div.classes img.icon,
div#fichesecoles div.horaires img.icon,
div#fichesecoles .voirBlogs img.icon {
	float:right;
}
div#fichesecoles table td.voirBlogs {
	position:relative;
	width:240px;
	text-align:center;
	vertical-align:top;
}
div#fichesecoles table td.voirBlogs div.fiche {text-align:left;}
div#fichesecoles table td.voirBlogs .contentBox {
	margin:15px auto 0; padding:8px 10px 10px; border:2px solid #bad521;
	width:50%;
	background:#fff;
	text-align:left;
}
#fancybox-inner div#fichesecoles table td.voirBlogs .contentBox {
	background:#f9f9f9;
}
div#fichesecoles td.voirBlogs div.fiche {
	margin:0 0 7px;

}
div#fichesecoles div#ficheblogs div.annee {
	float:right;
	font-size:0.85em;
	color:#444;
}
div#fichesecoles div#ficheblogs div.annee select {
	background:#E0E9E4;
	font-size:0.9em;
	color:#444;
	border:solid 1px #ddd;
}


/* ADMIN */
table.editItems {
	margin:0 auto;
}
table.editItems td input[type="text"] {width:98%;}
table.editItems td input#time_bact,
table.editItems td input#date_bact {width:auto;}
table.editItems th { 
	padding:0.5em 5px 0 0;
	text-align:right;
	vertical-align:top;
}
table.editItems tr.editCss th, table.editItems tr.editCss td {padding:60px 5px 0 0;}
table.editItems th.alignTop { padding-top:5px; vertical-align:text-top;}
table.editItems textarea {
	width:98%; min-height:120px;
}