/**
 * module_rssetagere.css
  *
 * @package    Iconito 2011
 * @cdate 21.11.2011
 * @mdate 21.11.2011
 * @author    Philippe Roser <proser@cap-tic.fr>
 */
 
h2 a {font-weight:normal;}
.resource {
    margin:0; padding:0;
    list-style:none;
}
.resource li {
    float:left;
    margin:0 1em 0.5em 0;
    min-width:31.5%;
}
.resource li h3 {
    margin:1em 0 0.5em;
}
.resource li .content-panel {
    min-height:74px;
}
.resource .illustration {
    float:left;
    margin:0 10px 5px 0;
    width:72px; height:72px;
    overflow:hidden;
    border:1px solid #ddd;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
.resource .button {
    clear:both; 
}