/* 
    Document   : module_admindash
    Created on : 9 sept. 2010, 10:37:19
    Author     : alemaire
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#dash-pic img{
    margin: 10px;
    float: left;
    margin-right: 20px;
}
#dash-ct .button-save{
    margin-top: 15px;
    margin-right: 10px;
}
label{
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
}

fieldset{
    background-color: white;
}

legend{
    font-size: 0.8em;
    color: black;
    font-weight: bold;
}

#dash-ereg .button{
    margin: 5px;
    float: right;
}