/* 
    Document   : module_quiz.css
    Created on : 12 avr. 2010, 17:59:03
    Author     : arnox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*admin quiz */
.quiz-a-img img{
    border: none;
}
.quiz-center img{
    margin-right: 75px;
}
.quiz h3{
    text-align: center;
    color: #E98114;
    margin-bottom: 1px;
    font-weight: normal;
    margin-top: 25px;
}
.quiz-quiz{
    width: 260px;
    height: 150px;
    margin: 5px;
    float: left;
    background-color: #9CD3D2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.quiz-separator{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #0C92B1;
    border:none;
}
.quiz-space{
    height: 50px;
    margin-bottom: 20px;
    border:none;
    clear: both;
    width: 100%;
}
.quiz h2{
    text-align: center;
    font-size: 26px;
}
.quiz-index-title{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.quiz-quiz a{
    display: block;
    float: right;
    margin-right: 20px;
}
.quiz h4{
    text-align: center;
    color: #222222;
}
#quiz-author{
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 150px;
}
.quiz-u-resp{
    height: 25px;
    font-size : 0.8em;
    font-weight: bold;
    text-align: center;
    width: 860px;
    margin-left: 20px;
    border: solid 2px #1B6F25;
    line-height: 25px;
    background-color: white;
}
#quiz-list{
    margin: 0px;
    margin-left: 25px;
    padding: 0px;
}
#quiz-list li{
    height: 25px;
    width: 150px;
    line-height: 25px;
    background-color: #E8F299;
    padding: 5px;
    margin: 5px;
    float: left;
    list-style-type: none;
    text-align: center;
}
#quiz-list li a {
    text-decoration: none;
    color: #1B6F25;
}
#quiz-list li a:hover{
    color: black;
}
#start-quiz{
    display: block;
    float: right;
    margin-right: 15px;
    margin-top: 30px;
    height: 30px;
    width: 90px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #1B6F25;
}
#quiz-desc{
    background-color: #E8F299;
    padding: 15px;
    margin-left: 20px;
    width: 835px;
    font-size: 12px;
    line-height: 14px;
}
.quiz-response{
    margin-left: 20px;
    margin-right: 15px;
    width: 510px;
    float: left;
    text-align: center;
}
#quiz-response-list{
    margin-left: 15px;
    width: 325px;
    float: left;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E8F299;
    margin-right: 15px;
}
#quiz-response-list li{
    margin-bottom: 5px;
    margin-left: 15px;
    list-style: none;
}
.ISIE67 #quiz-response-list{
    margin-left: 0px;
}
.quiz-comment{
    background-image: url('../img/datatable/comment.png');
    height: 16px;
    width: 16px;
    float: left;
}
#quiz-list .quiz-comment{
    float: right;
}
#quiz-go-home{
    height: 32px;
    width: 32px;
    float: left;
    margin-left: 20px;
    background-image: url('../img/datatable/home.png');
    margin-bottom: 10px;
}
.quiz-prev, .quiz-next{
    display: block;
    margin-top: 15px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    background-color:  #1B6F25;
    padding:0px;
    font-family:"Trebuchet MS",verdana,lucida,arial,helvetica,sans-serif;
    cursor:  pointer;
}
.quiz-prev a{
    text-decoration: none;
    color: white;
}
.quiz-next{
    float: right;
    margin-right: 15px;
}

.quiz-prev{
    float: left;
    margin-left: 20px;
}
.quiz-prev:hover{
    color: white;
}
.ISIE67 .quiz-prev{
    margin-top: -2px;
}
.quiz-clear{
    width: 100%;
    clear: both;
}

#quiz-adm-all{
	width: 90%;
	margin-left: 20px;

}
#quiz-adm-all thead th{
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-align: left;
}
.quiz-adm-responses{
	background-color: grey;
	border: solid 1px black;
	height: 8px;
	width: 8px;
	margin: 1px;
	float: left;
}
.quiz-adm-correct{
	background-color: green;
}
.quiz-adm-resp{
	background-color: red;
}
#quiz-adm{
 background-color: white;
 padding: 15px;
}

#quiz-help{
    height: 32px;
    width: 32px;
    float: right;
    margin-right: 20px;
    background-image: url('../img/datatable/help.png');
    margin-bottom: 10px;
}

/*quiz list table*/

#quiz-t-list{
    width: 100%;
}

#quiz-t-list tbody td {
    height: 18px;
    line-height: 18px;
    padding-left: 25px;
    color: white;
    font-size: 12px;
}

#quiz-t-list tbody td img{
    position: relative;
    top: 4px;
    border: none;
}
#quiz-t-list .col1{
    width: 25%;
}
#quiz-t-list .col2{
    width: 50%;
}
#quiz-t-list .col3{
    color: black;
    width: 25%;
    background-color: #DDD;
    padding-left: 15px;
}
#quiz-t-list .col3 p{
    margin: 1px;
    margin-bottom: 5px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    font-size: 11px;
    padding-left: 5px;
}
#quiz-t-list a:hover p{
    color: black;
}

#quiz-t-list .row1{
    background-color: #4EAFC6;
}
#quiz-t-list .row2{
    background-color: #9CD3D2;
}

#quiz-form label, #qf-form-answ label {
    display: block;
    width: 150px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 16px;
}
#quiz-form legend, #qf-form-answ legend, #qf-form-resp legend{
    font-weight: bold;
    font-size : 16px;
    color: #E98114;
}
#quiz-form fieldset{
    float: left;
    border: solid 2px #E98114;
    padding: 15px;
    padding-top: 5px;
    background-color: #F5F8C1
}
#qf-main{
    width: 555px;
}
#qf-main input, #qf-main textarea{
    width: 550px;
}
#qf-main input{
    font-size: 13px;
    font-weight: bold;
}
#qf-opt{
    width: 180px;
}
#qf-opt p{
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
#qf-opt label{
    width: 175px;
}
#qf-opt input, #qf-opt select{
    width: 175px;
}
#qf-main textarea{
    height: 50px;
}

/*
==================
RESPONSES ADMIN
==================
*/
#qf-sortable{
    list-style: none;
}
.qf-resp img{
    margin: 0px;
    padding: 0px;
    height: 24px;
    width: 24px;
    border: none;
    position: relative;
    top: 5px;
}
.qf-resp input{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 2px;
    padding-left: 10px;
}
.qf-content{
    width: 550px;
}
.qf-delresp-img{
    border: none;
    height: 24px;
    width: 24px;
}
.qf-submit{
    margin-top: 15px;
    float: right;
}

#qf-opt .qf-date{
    width: 150px;
}

.qf-date img{
    position: relative;
    top: 5px;
}

#aw-name, #qf-form-answ textarea {
    width: 700px;
}

#qf-form-answ legend{
    font-weight: bold;
    font-size : 17px;
    color: #E98114;
}