DIV.album DIV.photo {
	border: 1px solid #000;
	float: left;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}

DIV.album DIV.photosmall IMG {
	border: 1px solid #000;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}

DIV.album DIV.photoseule IMG {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
	background-color: #FFF;
}

DIV.album DIV.photo a.album {
	text-decoration: none; display: block; width: 128px; height: 128px; background-image: url(../img_styles/album/photoalbum.jpg);
}
DIV.album DIV.photo a.parent {
	text-decoration: none; display: block; width: 128px; height: 128px; background-image: url(../img_styles/album/photoalbum_parent.jpg);
}


DIV.album DIV.photo {
	border: 1px solid #000;
	float: left;
	margin: 4px;
	padding: 5px;
	background-color: #FFF;
}





TABLE.liste TR TD {
	margin: 0px;
	padding: 10px;
}

TABLE.liste TR IMG {
	border: 1px solid #000;
	padding: 10px;
	background-color: #EEE;
}