div.agendaList ul {
	list-style: none;
	list-style-position: outside;
	padding: 0px;
}

div.agendaList li {
	margin: 4px;
	padding: 2px;
}




div#div_agendas {
	background-color: #ffffff;
	border:1px solid #ABABAB;
	padding:3px;
  display:none;
  z-index:2000;
  text-align:right;
  margin-top:-5px;
}
div#div_agendas div.titreAgenda {
	clear:right;
	margin:2px;
}

/*Template d'affichage de la saisie d'évènement*/
table.saisieEvent {
	border:0;
	width:100%;
	border-collapse:collapse;
}
.saisieEvent tr th{
	text-align:left;
}



/*Template d'affichage de la vue semaine*/


#situ_semaine {
  text-align: center;
  margin-bottom: 5px;
}
#situ_semaine div.prev {
  float: left;
  text-align: left;
  font-size: 80%;
}
#situ_semaine div.next {
  float: right;
  text-align: left;
  font-size: 80%;
}
#situ_semaine div.annee {
  font-size: 130%;
  font-weight: bold;
  color: #000;
}
#situ_semaine div.jours {
/*  font-weight: bold;*/
  font-size: 80%;
  color: #777;
}

.agendaVueSemaine{
/*  width:100%;*/
}


.colonne_jour{
	vertical-align:top;
	align:left;
}

.colonne_agenda{
	border:1px solid black;
}

.contenu_semaine{
	width:100%;
	height:100%;
	border-collapse:collapse;
	/*padding:0px;
	cellspacing:0px;*/
}

.case_jourEvent{
   vertical-align:top;
}

.case_heure {
	width:35px;
	_width:35px;
	height:38px;
	_height:36px;
	vertical-align:top;
  font-size: 75%;
  font-weight: normal;
}
td.case_heurexx {
	width:35px;
	_width:35px;
	height:38px;
	_height:36px;
	vertical-align:top;
  font-size: 75%;
  font-weight: normal;
}

/*.contenu_jour{
	width:100%;
	cellspacing:0px;
	padding:0px;
}*/

.jour{
	width:113px;
	height:25px;
	text-align:center;
  font-weight: bold;
  font-size: 70%;
  border-bottom: solid 2px #fff;
}
.jourToday {
	width:113px;
	height:25px;
	text-align:center;
  font-weight: bold;
  font-size: 100%;
  border-bottom: solid 2px #fff;
  background: #fff;
  color:#444;
}

td.journee{
	vertical-align:top;
  font-size: 75%;
  font-weight: bold;
  text-align: right;
}

.elements_journee{
	vertical-align:top;
	text-align:center;
}


.titreEvent{
	font-size:11px;
}

div.evenement {
	z-index:1;
}

.evenement img{
	border:0px;
}

.evenement a{
	text-decoration: none ;
}

/*Affichage des leçons*/
td.lecon{
	vertical-align:top;
  font-size: 75%;
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
}
td.texte_lecons {
	text-align:left;
	vertical-align:top;
  font-size: 80%;
  padding-left: 6px;
  padding-top: 5px;
  border-top: solid 0px #536330;
  background: #ddd;
}
td.texte_lecons a {
  font-size: 90%;
  margin-top: 4px;
}

/*Style sur le template d'import*/


.popupEvent{
  background-color: white;
  font-size: 80%;
	border:1px solid black;
	color:black;
	padding:2px;
	position:absolute;
	margin-left:-20px;
	margin-top:10px;
	width:120px;
  visibility:hidden;
  z-index:999;
}

.titrePopupEvent{
	font-weight:bolder;
}

/*Template export.agenda.tpl*/

.texte_export{
	vertical-align:top;
	width:70px;
}

/*Template d'affichage de la zone "aujourd'hui"*/
.zoneAujourdhui{
	border:1px solid black;
}

.zoneAujourdhui .dateJour{
	font-weight:bolder;
}

div.heure {
  font-size:70%; text-align: right; border: solid 1px transparent; width: 44px; height:36px; margin-top: 1px; margin-bottom: 2px;
}


div.popupEvent2 {

	border-color: #508957;
	position: absolute;
	background-color: #F6F6F6;
  border-style: solid;
  border-width: 1px;
	padding: 4px;
  visibility: hidden;
	display: block;
	font-size: 80%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	filter: alpha(opacity=97);
	-moz-opacity: 0.97;
	opacity: 0.97;
	width: 132px;

	z-index:999;
	margin-left:-10px;

}


