/* 
    Document   : module_mailext
    Created on : 2 août 2010, 16:16:21
    Author     : alemaire
    Description:
        Purpose of the stylesheet follows.
*/
.mailext-title{
    margin: 4px;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
}

.mailext-webmail{
    text-align: center;
}