/**
 * THEMES - module_kernel.css
 * Mise en forme dashboard/kernel
 *
 * @package	Iconito 2010
 * @cdate 25.01.2010
 * @mdate 25.01.2010
 * @author	Stephane Holtz <sholtz@cap-tic.fr>
 */

a.dashclose {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../../../themes/default/images/button_dashclose_off.png) no-repeat 100% 0;
	}
	
a.dashclose_on {
	background: url(../../../themes/default/images/button_dashclose_on.png) no-repeat 100% 0;
	}
	
div.dashboard {
	position: relative;
	padding: 6px;
	margin: 0px 20px;
	}

div.dashpanel {
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px 0px 12px 0px;
	background: url(../../../themes/default/images/dash_shadow.png) 50% 100% repeat-y;
	}

div.dashpanel .title {
	position:relative;
	margin:0 0 0 16px; padding:4px 4px 2px 8px; border:0;
	font-size:1em;
	background:#bad521;
	}
div.dashpanel .title span {
	font-size: 160%;
	text-transform:uppercase;
	}
	
div.dashpanel div.content {
	position: relative;
	overflow: hidden;
	font-size: 120%;
	padding: 10px;
	margin: 0px;
	background: #f0f4f0;
	border: 2px solid #bad521;
	min-height: 160px;
	}
div.contentmain-fancybox {
  font-size: 120%;
}

div.dashpanel div.toolset {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	background: #bad521;
	z-index: 999;
	width: 32px;
	overflow: hidden;
	}

div.dashpanel div.toolset-expand {
	margin: 0px;
	padding: 0px;
	width: 160px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	z-index: 999;
	}

div.dashpanel div.toolset ul {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
	}

div.dashpanel div.toolset ul li {
	display: block;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	}
	
div.dashpanel div.toolset ul li.highlight {
	background: #ffffe6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	}
	
div.dashpanel div.toolset ul li.selected {
	background: #f0f4f0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	}
	
div.dashpanel div.toolset ul li a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	height: 32px;
/*	min-height: 32px;*/
	padding: 2px 0;
	margin: 0px;
	}

div.dashpanel div.toolset ul li a span {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	white-space: normal;
	font-size: 110%;
	}
	
div.dashpanel div.toolset ul li a span.label {
	display: none;
	}
	
div.dashpanel div.toolset-expand ul li a span.label {
	display: inline-block;
	}

div.kernel_dash div.dashpanel div.toolset {
	right: -34px;
	border:1px solid transparent;
	}

div.kernel_dash div.dashpanel div.toolset-expand {
	right: -162px;
	}

div.module_dash div.dashpanel div.toolset {
	top: 60px;
	right: -34px;
	}


/* CASE DASHBOARD CONTEXT */
div.tools_left {
	}

div.tools_left div.dashpanel {
	width: 94%;
	}

div.tools_left div.dashpanel div.toolset {
	padding: 2px 2px 2px 0px;
	}

div.tools_left div.dashpanel div.toolset-expand, div.tools_left div.toolset-expand ul li.highlight {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	}

div.tools_left div.dashpanel div.toolset ul li a {
	background-position: 2px 50%;
	background-repeat: no-repeat;
	padding-left: 34px;
	}
	
/* CASE MODULE CONTEXT */
div.tools_right {
	margin: 6px 20px;
	}
	
div.tools_right div.dashpanel div.toolset-expand ul li {
	text-align: left;
	}

div.tools_right div.dashpanel {
	width: 96%;
	}
	
div.tools_right div.dashpanel div.groupname {
	float: left;
	}

div.tools_right div.dashpanel div.mcontrol {
	float: right;
	}

div.tools_right div.dashpanel div.wcontrol {
	float: right;
	}

div.tools_right div.dashpanel .title {
	height: 25px;
	padding: 4px 4px;
	margin: 0px;
	text-align: center;
	}

div.tools_right div.dashpanel div.content {
	border-top: 0px;
	}

div.tools_right div.dashpanel .title .groupname {
	padding-top: 2px;
	font-size: 110%;
	line-height: 85%;
	text-transform:uppercase;
	width: 200px;
	margin-right: -200px;
	text-align: left;
	}

div.tools_right div.dashpanel .title div.mcontrol {
	width: 25px;
	margin-right: 32px;
	}

div.tools_right div.dashpanel .title div.wcontrol {
	width: 25px;
	margin-left: -25px;
	}

div.tools_right div.dashpanel div.toolset {
	padding: 2px 2px 2px 2px;
	}

div.tools_right div.dashpanel div.toolset-expand {
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	}

div.tools_right div.dashpanel div.toolset ul li {
	text-align: right;
	}

div.tools_right div.dashpanel div.toolset ul li.selected {
	margin-left: -2px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	}

div.tools_right div.dashpanel div.toolset-expand ul li.selected {
	margin-left: 0px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	}

div.tools_right div.dashpanel div.toolset ul li a {
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-right: 32px;
	}

/* SET GROUPTYPES CONTEXT COLORS */
div.dashboard div.bu_classe .title	{ background: #7fc3d2; }
div.dashboard div.bu_classe div.content	{ border: 2px solid #7fc3d2; }
div.dashboard div.bu_classe div.toolset	{ background: #7fc3d2; }

div.dashboard div.bu_ecole .title 	{ background: #7cd54f; }
div.dashboard div.bu_ecole div.content 	{ border: 2px solid #7cd54f; }
div.dashboard div.bu_ecole div.toolset 	{ background: #7cd54f; }

div.dashboard div.club .title	{ background: #ffb94e; }
div.dashboard div.club div.content	{ border: 2px solid #ffb94e; }
div.dashboard div.club div.toolset	{ background: #ffb94e; }

div.dashboard div.user_ele .title	{ background: #7fc3d2; }
div.dashboard div.user_ele div.content	{ border: 2px solid #7fc3d2; }
div.dashboard div.user_ele div.toolset	{ background: #7fc3d2; }

div#kernel div.dashpanel div.toolset a.counter span.counter-text {
    color: #333333;
    display: block;
    font-size: 8.5px;
    font-weight: bold;
    letter-spacing: -0.1em;
    padding-top: 3px;
    text-align: center;
    width: 18px;
}


div#kernel div.dashpanel div.toolset a.counter {
    background: url("../../../themes/default/images/mod_user_mail_badge.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    margin: 4px 0 0 4px;
    padding: 12px 0 0 12px;
    position: absolute;
    width: 20px;
}

