
div.minimail_message {
	width:100%; /* 730px;*/
	background-color: #FFFFFF;
	font-size: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 2px;
}
div.minimail_message div.render a {
  text-decoration:underline;
}
div.minimail_message div.render a:hover {
  color:#000;
}


tr.minimail_navig {
	background-color: #EEEEEE;
	font-size: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color: #DDDDDD;

}


hr.minimail_hr {
	margin: 5px;
}

div.minimail_attachment {
	float: left;
	width: 220px;
	background-color: #FFF;
	border: solid 1px #EEE;
	font-size: 11px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
#minimail form .form_saisie em.legendDescription {font-size:0.9em;}

textarea#dest {
    height:3em;
}
#minimail table {
	border:0;
	width:100%;
	border-collapse:collapse;
}

/* Téléchargement des PJ vers un classeur */

ul.attachmentsToClasseur {
    float:right;
    list-style:none;
	min-width:50%;
}
ul.attachmentsToClasseur li {
    padding:5px;
}
ul.attachmentsToClasseur li input {float:left;}
ul.attachmentsToClasseur li + li {
    border-top:1px solid #ddd;
}

ul.attachmentsToClasseur label {
    display:inline;
}
ul.attachmentsToClasseur img {
    margin-left:20px;
}

/* Fin téléchargement des PJ vers un classeur */

