/* 
    Document   : module_mailext
    Created on : 2 août 2010, 16:16:21
    Author     : alemaire
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

