input[type=submit] {
	font-size: 1em;
}
	
/* Hack pour Firefox supprimant les pointillés lors des clics
------------------------------------------------------------------------------*/
a,
input.button {
  outline: none;
}

a:focus,
input.button:focus {
  -moz-outline-style: none;
}

a img {
	border: none;
}
 
/* Général
------------------------------------------------------------------------------*/ 
h4 {
  color: grey;
  border-bottom: 1px solid grey;
}

p.success {
  margin: 10px 1px;
  padding: 2px;
  -moz-border-radius:6px 6px 6px 6px;
  background-color:#B9C55B;
  font-size:10px;
}

.notice-light {
  width: 400px;
} 

.error-light {
  width: 400px;
}

p.items-count {
  font-style:italic;
}

.hidden {
  display:none;
}

fieldset.filter {
  border:1px dashed #A0A0A0;
  margin-bottom:10px;
}

fieldset.leftfield {
  margin-right: 3em;
  border:1px solid #DDD;
  -moz-border-radius:6px 6px 6px 6px;
}

fieldset.filter legend {
  font-style:italic;
  font-weight:bold;
}

table.liste td {
  font-family: Arial Narrow,'Droid Sans',sans-serif;
  text-align: center;
  font-size: 1.2em;
}

p.breadcrumbs {
  font-size:0.8em;
} 

/* Form
------------------------------------------------------------------------------*/
label.form_libelle {
  font-size:12px;
  font-weight:bold;
  vertical-align:top;
  float: left;
  width: 150px;
}

div.field {
  padding-bottom: 2px;
}

input[type=radio],
input[type=checkbox] {
  margin-right: 2px;
}

/* Tree
------------------------------------------------------------------------------*/ 
#tree {
  float: left;
  width: 45%;
  margin: 1px;
  padding: 5px;
  -moz-border-radius:6px 6px 6px 6px;
  /*background-color:#E2ED8A;*/
  font-size:12px;
}

#tree ul,
ul.actions {
  list-style-type: none;
  padding-left: 20px;
}

li.collapsed ul {
  display: none;
}

ul.tree li {
  line-height: 23px;
}                  

ul.tree a.toggle-node span {
  left:-5000px;
  position:absolute;
}

ul.tree a.toggle-node { 
  position: absolute;
  display:block;
  float:left;
  height:20px;
  width:11px;
  background:url("/themes/default/img/collapsed.gif") no-repeat scroll left center transparent; 
}

ul.tree a.expand{
  background:url("/themes/default/img/expanded.gif") no-repeat scroll left center transparent;
}

ul.tree a.after-expand {
  margin-left: 15px;
}

ul.tree a.classroom {
  margin-left: 7px;
}

li a.current {
  background-color:#327E04 !important;
  color:white !important;
  padding:2px;
}

#student_creation_data {
  float: left;
}                                                                                

#column-data {
  float: right;
  width: 50%;
  padding:6px;
  -moz-border-radius:15px 15px 15px 15px;
  border:2px solid #FFFFFF;
  background-color:#E2ED8A;
  font-size:11px;
}

#tree-actions {
  margin:1px;
  padding:2px 2px 2px 4px;
  -moz-border-radius:6px 6px 6px 6px;
  background-color:#B9C55B;
  font-size:11px;
}

#tree-actions a {
  width: 350px;
  margin-bottom: 2px;
}

ul.actions li {
  float: left;
  margin-right: 5px;
}    

ul.actions li a.button {
  width: 410px;
  margin-bottom: 2px;
}

#persons-in-charge {
  float: right;
  width: 50%;
  padding:6px;
  -moz-border-radius:15px 15px 15px 15px;
  border:2px solid #FFFFFF;
  background-color:#E2ED8A;
  font-size:11px;
}

#accounts-info {
  float: right;
  height: 250px;
  width: 50%;
  padding:6px;
  -moz-border-radius:15px 15px 15px 15px;
  border:2px solid #FFFFFF;
  background-color:#E2ED8A;
  font-size:11px;
}

.column-left {
  float: left;
  width: 50%;
}            

.column-right {
  float: right;
  width: 50%; 
}

/* Look neutre
------------------------------------------------------------------------------*/ 
DIV.gestionautonome #tree-actions  {
	/* background-color:#DDD; */
}

DIV.gestionautonome #tree-actions a {
	width:315px;
}

DIV.gestionautonome ul.actions li a.button {
	width:370px;
}

#column-data, #persons-in-charge, #tree-actions {
	background-color:#EEE;
	border:2px solid #DDD;
}

DIV.gestionautonome li a.current {
	background-color:#CCC !important;
	color:white !important;
}

DIV.gestionautonome input[type="button"]  {
	afont-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	font-weight:normal;
}