/* Global */
div.dashboard div.content {
	padding:43px 10px 10px;
}
#cahierdetextes a:link {text-decoration:none;}
#cahierdetextes a:visited {text-decoration:none;}
#cahierdetextes a:hover, #cahierdetextes a:focus {text-decoration:underline;}
#cahierdetextes a:active {text-decoration:underline;}
#cahierdetextes .works {
  float:left;
  margin-right:2%;
  width:73%;
}
#cahierdetextes h2 {
	margin:0.5em 0 1em; border:none;
	font-size:1.5rem; font-weight:bold;
	text-align:center;
}
#cahierdetextes h2.todayLabel {
	float:left; clear:both;
	width:73%;
}
#cahierdetextes a.button {
	float:right;
	text-transform:none;
}
/* End global */


/* Sidebar */
#cahierdetextes .sidebar {
  margin:0 1% 0 75%;
}
#cahierdetextes .sidebar .today-button {
	margin:10px 0 8px;
	text-align:center;
}
#cahierdetextes .sidebar .button {
	float:none;
	margin:0; padding:4px 10px;
}
#cahierdetextes .sidebar table {
	border-collapse:collapse;
}
#cahierdetextes .sidebar table td, #cahierdetextes .sidebar table th {
	border:1px solid #ddd;
	text-align:center;
}
#cahierdetextes .sidebar table a {
	display:block;
	width:100%; height:20px;
	line-height:20px;
}
#cahierdetextes .sidebar table a:hover {background-color:#f8c56d;}
#cahierdetextes .sidebar table .empty {background-color:#f7f7f7;}
#cahierdetextes .sidebar table .with-work {font-weight:bold; background-color:#fef1d9;}
#cahierdetextes .sidebar table .selected {font-weight:bold; background-color:#F8C56D;}
/* Sidebar */


/* Memos */
#cahierdetextes .memos-list {
	clear:both;
	padding:10px 0;
}
#cahierdetextes .memos-list .memo {
	margin:3px 0 20px; padding:10px; 
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	background:#fff;
}
#cahierdetextes .memos-list .memo .memoDate {
	margin:0 0 5px;
	color:#999;
	font-style:italic; font-size:0.75rem;
	text-align:right;
}
#cahierdetextes .memos-list .memo .memoDate span.actions {
	padding:0 10px 0;
}
#cahierdetextes .memos-list .memo p {margin:0.5em 0 0;}

/* Fin Memos */


/* Sidebar - Memos */
#cahierdetextes .sidebar #memos-list h3 {
    margin:0 0 0.7em 10px;
	font-size:0.8rem;
}
#cahierdetextes .sidebar #memos-list {
	position:relative;
	clear:none;
	overflow:hidden;
	padding:10px 5px 0;
}
#cahierdetextes .sidebar #memos-list ul {
	position:relative;
	margin:0; padding:0;
	list-style:none;
}
#cahierdetextes .sidebar #memos-list ul li {float:left;}
#cahierdetextes .sidebar #memos-list #seeAllMemos {
	display:block;
	clear:both;
	padding:10px 0 5px;
	font-size:0.7rem;
	text-align:right;
}
#cahierdetextes .sidebar #memos-list ul.memo li {
    margin:0 10px; padding:0;
}
#cahierdetextes .sidebar #memosSteps {
    position:absolute; top:-5px; left:43%;
    margin:0; padding:0;
    height:15px;
    list-style:none;
}
#cahierdetextes .sidebar #memosSteps li {
    float:left;
    margin-right:3px;
}
#cahierdetextes .sidebar #memosSteps li a {
    display:block;
    width:11px; height:11px;
    background:url(../img/rssnotifier/puce_inactive_bleue.png) no-repeat top left;
}
#cahierdetextes .sidebar #memosSteps li a.active {
    font-weight:bold;
    text-decoration:underline;
    background:url(../img/rssnotifier/puce_active_bleue.png) no-repeat top left;
}
#cahierdetextes .sidebar #memosSteps li a:hover {
    background:url(../img/rssnotifier/puce_hover_bleue.png) no-repeat top left;
}
#cahierdetextes .sidebar #memosSteps li a span {position:absolute; top:-1000px; left:-1000px;}
/* End Sidebar - Memos */


/* Navigation */
#cahierdetextes #submenu .menuitems ul li a {width:65px;}
#cahierdetextes #submenu .menuitems ul li.newGroupItems {margin-left:50px;}
#cahierdetextes #submenu .menuitems ul li a:hover {text-decoration:none;}

/*#cahierdetextes .top-bar {
  margin:0; padding:0; 
  height:28px; width:100%;
  list-style-type:none;
}
#cahierdetextes .top-bar li {
	float:left;
	margin:-15px 2px 0; padding:15px 10px 5px; border-left:5px solid #7fc3d2; border-right:4px solid #7fc3d2;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	background:#7FC3D2;
}
#cahierdetextes .top-bar li.selectedBar, #cahierdetextes .top-bar li:hover {
	padding-top:24px; border:0;
	background:#000; color:#fff;
	font-weight:bold;
}
#cahierdetextes .top-bar li.selectedBar a, #cahierdetextes .top-bar li:hover a {color:#fff;}
/* End Navigation */


/* Content */
#cahierdetextes h5 {
	margin:10px 0 0; padding:0 5px;
	font-size:1.5rem; font-weight:normal;
	text-transform:uppercase;
	line-height:1;
}
#cahierdetextes .classroom-works-list,
#cahierdetextes .todo-works-list,
#cahierdetextes .sidebar .memos-list {
	margin:3px 0 20px; padding:10px 10px 1px;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	background:#fff;
}
#cahierdetextes .classroom-works-list p,
#cahierdetextes .todo-works-list p {
	margin:0;
}
#cahierdetextes .work {
	margin:0 0 10px; padding:3px 5px; border:1px solid #eee;
}
#cahierdetextes .classroom-works-list p.no-work, 
#cahierdetextes .todo-works-list p.no-work {margin-bottom:10px;}
#cahierdetextes h6 {
	margin:0;
	font-size:1.2rem;
}
#cahierdetextes h6 span {
	float:right;
	font-size:0.75rem; font-weight:normal;
}
/* End Content */


/* Forms */
#cahierdetextes form fieldset {
	float:left;
	padding:0; border:none;
}
#cahierdetextes form fieldset.concernedList {
	margin-left:20px;
	width:310px;
}
#cahierdetextes form fieldset.concernedList h3 {margin:0 0 5px;}
#cahierdetextes form fieldset.concernedList h3 span {
	float:right;
	font-weight:normal; font-size:0.8rem;
}
#cahierdetextes form .field, #cahierdetextes form .textarea {
	clear:both;
	margin-bottom:5px;
}
#cahierdetextes form .field > label, #cahierdetextes form .field > p.label {
	float:left;
	margin:0;
	width:35%;
}
#cahierdetextes form .field p.input {margin:0 0 0 36%;}
#cahierdetextes form .redirectionField > label {width:20%;}
#cahierdetextes form .redirectionField p.input {margin:0 0 0 20%;}
#cahierdetextes form #fieldSignature span {display:block;}
#cahierdetextes form div.submit {
	clear:both;
	padding:10px 0;
	text-align:center;
}
#cahierdetextes form div.submit input#save {
	margin-left:8px;
}
/* End forms */


/* Table */
#cahierdetextes .sidebar table, #cahierdetextes table.listStudents {
	width:100%;
	margin:0 0 15px 0; border:1px solid #ccc;
	background-color:#fff;
}
#cahierdetextes table thead {
	background-color:#eee;
}
#cahierdetextes table td, #cahierdetextes table th {
	padding:1px 2px;
}
#cahierdetextes table tr.odd td {
	background-color:#f7f7f7;
}
/* End table */


#show-memos {
  height: 100px;
}

.success {
  background-color: green;
  color: white;
}


