

/* =================================
	Liste des blogs
	================================= */

DIV.blog_colonne_titre {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #33691F;
}
	

#blogs {
	float: right;
	width: 50%;
}

/* Corps */
#blogs DIV.blogBody {
	clear: both;
	border-radius: 8px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	color: #595949;
	font-size: 11px;
	margin: 5px 5px 6px 5px;
	padding: 5px 5px 5px 5px;
	background: #EDF5A9;
	border: 1px solid #B9C554;
}
/* Titre */
#blogs DIV.blogBody A.title {
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
	border-bottom: dotted 1px #B9C554;
	color: #111;
}
#blogs DIV.blogBody A.title:hover {
	text-decoration: none;
	border-bottom: solid 2px #B9C554;
}
#blogs DIV.blogBody IMG.logo {
	background: #FFF;
	padding: 3px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
}

/* Type + parent */
#blogs DIV.blogType {
	margin-top: 5px;
	font-size: 95%;
}
/* Stats */
#blogs DIV.blogStats {
	margin-top: 3px;
	color: #222;
}
#blogs DIV.blogStats a {
	color: #222;
}

#blogs_ecoles {
	float: left;
	width: 50%;
	font-size: 11px;
}

#blogs_ecoles DIV.ville {
	margin: 12px 0px 5px 0px;
}
#blogs_ecoles DIV.ville DIV.nom {
	font-size: 1.25em;
	font-weight: bold;
	border-bottom: solid 1px #EDF5A9;
	margin-bottom: 3px;
}


/* =================================
	Page A propos...
	================================= */
.apropos_tab {
	font-size: 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	border-width: 1px;
	border-color: #FFFFFF; /* #508957; */
	border-style: solid;
	padding: 1px;
}
.apropos_ligne {
	background-color: #FFFFFF;
	padding: 2px;
}
.apropos_case {
	background-color: #FFFFFF;
	vertical-align: top;
}
.apropos_caseg {
	background-color: #FFFFFF;
	width: 120px;
	vertical-align: top;
}
	