DIV.aidePage {
	font-size: 80%;
	background: #FAFAFA;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	khtml-border-radius: 5px;
}

DIV.helpTitle {
	font-size: 110%;
	font-weight: bold;
	
}


DIV.helpLinksBloc {
	float: right;
	width: 160px;
	margin: 10px 15px 5px 5px;
}
/* Voir aussi */
DIV.helpLinks {
	background-color: #fff;
	border: solid 1px #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	khtml-border-radius: 15px;
	padding: 6px;
	width: 160px;
	margin-top: 50px;
}
DIV.helpLinks IMG.lucien {
	position: absolute;
	margin-top: -70px;
	margin-left: 95px;
}
DIV.helpLinks UL {
	margin: 1px 0px 1px 13px;
	padding: 0;
}
DIV.helpLinks LI {
	padding-left: 0em;
	text-indent: -0.3em;
}