
/* Liste des messages */
A.new {
	color: #CC0033;
}


/* Détail d'un message */
DIV.carnet_message, TD.carnet_message {
	margin-top: 15px;
	width: 730px;
	background-color: #FFFFFF;
	font-size: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
DIV.carnet_message_message {
	margin: 2px;
}
DIV.carnet_message_infos {
	background-color: #C8B383;
	text-align: left;
	font-size: 13px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding: 3px;
	font-weight: bold;
	border-bottom: solid 1px #CCCCCC;
}
DIV.carnet_message_infos_me {
	background-color: #DDDDDD;
	text-align: left;
	font-size: 13px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding: 3px;
	font-weight: bold;
	border-bottom: solid 1px #CCCCCC;
}
DIV.carnet_message_actions {
	background-color: #EEEEEE;
	text-align: right;
	font-size: 11px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	color: #DDDDDD;
	padding: 1px;
}
DIV.carnet_message_eleve {
	float: right;
	color: #F04F0F;
	padding: 0px;
	margin: -4px 0px 0px 0px;
	font-weight: bold;
}
DIV.carnet_message_eleve A {
	color: #F04F0F;
}
DIV.carnet_message_eleve A:hover {
	text-decoration: underline;
}


DIV.carnet_filtrage_col {
	float: left;
	width: 100px;
	font-size: 11px;
	background-color: #EDF5A9;
	border: solid 2px #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	color: #000;
	padding: 3px;
}
DIV.carnet_filtrage_col A, A:visited {
	text-decoration: none;
}
DIV.carnet_filtrage_col A:hover {
	text-decoration: underline;
}

