
.groupe_actu_bloc {
	height: 282px;
	float: right;
	width: 350px;
}

.groupe_actu {
}




.groupe_bloc {
	padding: 0px;
	margin: 5px 40px 5px 5px;
	font-size: 12px;
	width:43%;
	float:left;
}

.groupe_bloc_admin {
	padding: 0px;
	margin: 5px 40px 5px 5px;
	font-size: 12px;
	width:43%;
	float: left;
}
.groupe_thumb_autour {
	float: left;
	width: 84px;
	height: 84px;
}

.groupe_thumb {
	clear: both;
	float: left;
 	margin: 5px 0px 0px 8px;
	padding: 0;
	position: relative;
	vertical-align: middle;
}
.groupe_thumb img {
	 background-color: #FFF;
	 border: 1px solid #95A3B8;
	 display: block;
	 margin: -5px 5px 5px -5px;
	 padding: 4px;
	 position: relative;
	 vertical-align: middle;
}
.groupe_thumb img:hover {
	background-color: #888;
}

DIV.groupe_title {
	border-bottom: 1px dashed #FFF;
	margin-top: 1px;
	font-weight: bold;
	font-size: 18px;
}
DIV.groupe_title a {
	color: #444;
	text-decoration: none;
}
DIV.groupe_title a:hover {
	color: #888;
	text-decoration: none;
}

.groupe_infos {
	margin-top: 4px;
	font-size: 12px;
	color: #2B2B2B;
	text-align: right;
}



/* =================================
	Liste des groupes
	================================= */
#groups {
}

/* Corps */
#groups DIV.body {
	border-radius: 8px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	color: #595949;
	font-size: 11px;
	margin: 5px 0px 5px 10px;
	padding: 3px 3px 3px 3px;
	background: #fff;
	border: 1px solid #eee;
	width: 345px;
	float: left;
}
/* Titre */
#groups DIV.body DIV.titleb {
	font-size: 150%;
	font-weight: bold;
	color: #111;
}
#groups DIV.body DIV.titleb a {
	color: #111;
	text-decoration: none;
	border-bottom: dotted 1px #B9C554;
}
#groups DIV.body DIV.titleb a:hover {
	text-decoration: none;
	border-bottom: solid 2px #555;
}
/* Infos */
#groups DIV.infos {
	margin-top: 5px;
	font-size: 90%;
	color: #222;
}
#groups DIV.actions {
	float: right;
}
#groups DIV.actions A {
	text-align: left;
	width: 85px;
	clear: both;
	padding-left: 17px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	khtml-border-radius: 3px;
	display: block;
	margin: 1px;
	text-decoration: none;
}
/* Actions */
#groups DIV.actions a { background:#eee; background-repeat:no-repeat; background-position: left center; }
#groups DIV.actions A.home { background-image:url(../images/puce_home.gif); }
#groups DIV.actions A.subscribe { background-image:url(../images/puce_subscribe.gif); }
#groups DIV.actions A.admin { background-image:url(../images/puce_admin.gif); }
#groups DIV.actions A.blog { background-image:url(../images/puce_blog.gif); }
#groups DIV.actions A:hover {
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}


/* =================================
	Liste des groupes sur la home
	================================= */
#groups-home {
}

/* Corps */
#groups-home DIV.body {
	border-radius: 8px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	color: #595949;
	font-size: 11px;
	margin: 5px 0px 5px 10px;
	padding: 3px 3px 3px 3px;
	background: #EDF5A9;
	border: 1px solid #B9C554;
}
/* Titre */
#groups-home DIV.body DIV.titleb {
	font-size: 130%;
	font-weight: bold;
	color: #111;
}
#groups-home DIV.body DIV.titleb a {
	color: #111;
	text-decoration: none;
	/* border-bottom: dotted 1px #B9C554; */
}
#groups-home DIV.body DIV.titleb a:hover {
	text-decoration: none;
	/* border-bottom: solid 2px #B9C554; */
}
/* Infos */
#groups-home DIV.infos {
	margin-top: 5px;
	font-size: 90%;
	color: #222;
}
#groups-home DIV.actions {
	
}
#groups-home DIV.actions A {
	text-align: left;
	width: 80px;
	/*clear: both; */
	padding-left: 17px;
	padding-right: 9px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	khtml-border-radius: 3px;
	margin: 1px;
	text-decoration: none;
}
/* Actions */
#groups-home DIV.actions A.home { background: #D9E575 url(../images/puce_home.gif) no-repeat left center; }
#groups-home DIV.actions A.subscribe { background: #D9E575 url(../images/puce_subscribe.gif) no-repeat left center; }
#groups-home DIV.actions A.admin { background: #D9E575 url(../images/puce_admin.gif) no-repeat left center; }
#groups-home DIV.actions A.blog { background: #D9E575 url(../images/puce_blog.gif) no-repeat left center; }
#groups-home DIV.actions A:hover {
	background-color: #B9C554;
	color: #000;
	text-decoration: none;
}

div.access_concerto {
	margin-bottom: 10px;
}
div.access_concerto div.liens {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
div.access_concerto a.lien {
	text-align:center;
	display:block;
	padding:4px;
	margin:0 0 9px 0;
	text-decoration:none;
	font-weight:bolder;
}