
#blog-template {
	position:relative;
	min-height:500px;
    overflow: hidden;
}

#blog-template #blog-sidebar{
	position:absolute; top:0; left:0;
/*    float:left;*/
    width: 180px;
/*    margin-right: -210px;*/
    background: #f0f4f0;
	padding: 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#blog-template #blog-content{
    margin-left: 210px;
    background: #fff;
	padding: 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#blog-template #blog-sidebar .blog-rss {
    display: block;
    float: right;
    background: url(../../../themes/default/images/blog_rss.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;    
    }

#blog-template #blog-sidebar #blog-logo {
    display: block;
    background: url(../../../themes/default/images/blog_defaultlogo.gif) no-repeat center 6px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 155px;
    margin-bottom: 18px;
    }

#blog-template #blog-sidebar a {
    display: block;
    padding: 4px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;    
}

#blog-template #blog-sidebar a:hover {
    background-color: #fff;    
}

#blog-template #blog-sidebar h2 {
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
}

#blog-template #blog-sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#searchBlog {
	width:130px;
}







/* =================================
	G�n�ral
	================================= */




#mainBlog {
}

/* Barre lat�rale */
#mainSideBar {
	float:left;
	width: 210px;
	border-right: dotted 2px #CCC;
  margin-right:-210px;
}

#blog2 {
	float:left;
	width: 210px;
	border-right: dotted 2px #CCC;
  margin-right:-210px;
}
/* Partie centrale */
#mainContent {
  margin-left:230px;
}
/* Barre lat�rale - Logo */
#mainSideBar .bloglogo {
	text-align: center;
	padding: 1em;
}

/* Barre lat�rale - Titre */
#mainSideBar H2 {
	margin: 10px 0px 3px 0px;
	border-top: dotted 2px #CCC;
	padding-top: 3px;
}
/* Barre lat�rale - Liste d'�l�ments */
#mainSideBar UL {
	padding: 0;
	margin: 0;
}
/* Barre lat�rale - El�ments */
#mainSideBar LI {
	list-style-type: square;
	margin-left:16px;
	color: #AAA;
}
#mainSideBar UL A {
	color: #333F5A;
	text-decoration: none;
}
#mainSideBar UL A:hover {
	text-decoration: underline;
}


/* =================================
	Liste d'articles
	================================= */
#listArticles {
}
#listArticles h2 b {
	color: #FF2966;
}
/* Jours */
#listArticles DIV.day {
	display: none;
	border-bottom: dotted 2px #CCC;
	margin: 1px;
	padding: 1px;
	font-size: 100%;
	margin-top: 6px;
	text-align: right;
}
/* Titre de l'article */
#listArticles DIV.postTitle {
	clear:both;
	margin: 5px 0px 8px 0px;
	font-size: 170%;
	font-weight: bold;
}
#listArticles DIV.postTitle A {
}
/* Infos de l'article (date, cat�gories...) */
#listArticles DIV.postInfo {
	margin: 0px 0px 3px 0px;
	color: #888;
	font-weight: normal;
	font-size: 100%;
}
#listArticles div.postInfo a {
	color: #888;
	text-decoration:underline;
}
#listArticles div.postInfo a:hover {
	text-decoration:none;
}
/* Article (chapo ou entier) */
#listArticles DIV.postContent {
	margin-left: 0px;
	margin-bottom: 2em;
}
#listArticles div.postContent a {
	text-decoration:underline;
}
#listArticles div.postContent a:hover {
	text-decoration:none;
}
#listArticles DIV.postContent .suite {
	padding-left: 20px;
	background: transparent url(../images/suite.gif) no-repeat left top;
}
/* Liste des pages */
#listArticles P.pager {
}


/* =================================
	D�tail d'un article
	================================= */
#article {
    position: relative;
	margin-bottom: 4em;
	border-bottom: solid 1px #ddd;
}
#article img, #listArticles img, div.adminArticleList img {
	background: transparent;
	border: 0;
	padding:0; margin:0 5px 3px 0;
}
/* Infos de l'article (date, cat�gories...) */
#article DIV.postInfo {
	margin: 0px 0px 3px 0px;
	color: #888;
	font-weight: normal;
	font-size: 100%;
}
#article DIV.postInfo a {
	color: #888;
	text-decoration:underline;
}
#article div.postInfo a:hover {
	text-decoration:none;
}
/* Chapo */
#article DIV.postSummary {
	text-align: left;
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.3em;
	border-left: solid 6px #D9E575;
	padding-left: 0.5em;
	margin-bottom:1.2em;
}
/* Article */
#article DIV.postContent { /* Article */
	text-align: justify;
}
#article DIV.postContent TABLE,  #article DIV.postSummary TABLE,  #listArticles DIV.postContent TABLE {
}
#article DIV.postContent TR, #article DIV.postSummary TR, #listArticles DIV.postContent TR  {
	border: solid 1px #f0f0f0;
}
#article DIV.postContent TD, #article DIV.postSummary TD, #listArticles DIV.postContent TD {
	border: 0;
}
#article DIV.postSummary a, #article div.postContent a {
	text-decoration:underline;
}
#article div.postSummary a:hover, #article div.postContent a:hover {
	text-decoration:none;
}


/* =================================
	Commentaires
	================================= */
#comments {
}
/* Titre */
#comments H2 {
	margin: 0;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
/* Corps */
#comments DIV.commentBody {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #595949;
	font-size: 11px;
	margin: 0px 30px 6px 30px;
	padding: 5px 5px 5px 5px;
	background: #f7f7f0;
	border: 1px solid #f0f0e0;
}
/* Auteur + date */
#comments DIV.commentAuthor {
	margin-bottom: 5px;
	border-bottom: solid 1px #FFF;
}
#comments DIV.commentAuthor A {
	font-size: 80%;
	font-weight: normal;
}
/* Num�ro */
#comments DIV.commentCount a {
	position: relative;
	float: right;
	right: 0px;
	top: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #CFC097;
	margin: 0px;
}
/* Formulaire d'ajout de commentaires - zones de saisie */
#comments INPUT.text {
	width: 230px;
	font-family: inherit;
	font-size: 95%;
}
#comments TEXTAREA.text {
	width: 330px;
	height: 100px;
	font-family: inherit;
	font-size: 90%;
}

/* Affichage des tableaux */
table.viewItems td.action {width:90px; text-align:center;}
table.viewItems tr.list_line1 td.action {padding:4px 0;}
table.viewItems td.comment {width:120px; text-align:center;}
table.editItems {
	margin:0 auto;
}
table.editItems td input[type="text"] {width:250px;}
table.editItems td input#time_bact,
table.editItems td input#date_bact {width:auto;}
table.editItems th { 
	padding:0 5px 0 0;
	text-align:right;
}
table.editItems tr.editCss th, table.editItems tr.editCss td {padding:60px 5px 0 0;}
table.editItems th.alignTop { padding-top:5px; vertical-align:text-top;}
