/* Global */
div.dashboard div.content {
    padding:43px 10px 10px;
}
.content-view {
  float:right;
  width:72%;
}

/* End global */


 /* Sidebar */
#sidebar, .selectFolder {
  float:left;
  margin:10px 0; padding:5px; border:3px solid #ddd;
  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
  width:25%;
  background:#fff;
}
.selectFolder {
	float:none;
	width:350px;
}
#sidebar ul, .selectFolder ul {
  margin:0; padding:0;
  list-style:none;
}
#sidebar ul ul, .selectFolder ul ul {
  padding-left:15px;
}
#sidebar p, .selectFolder p {margin:0; padding:2px 4px;}
#sidebar li, .selectFolder li {padding:2px 4px;}
#sidebar .current, .selectFolder .current {
	border:2px solid #BAD521;
	-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
}
#sidebar a.expand img, .selectFolder a.expand im {margin:0 0 -1px 0;}
.selectFolder label:hover {cursor:pointer;}
/* End Sidebar */


/* List view */
#classeur .content-view .overflow {
	margin:12px 0 10px; 
	max-height:350px;
	overflow:auto;
}
#classeur #folder-content {
	border-radius:8px;
	width:100%;
	background:#fff;
	border-collapse:collapse;
}
#classeur #folder-content tr.even {
	background:#F5F5F5;
}
#classeur #folder-content th {color:#000;}
#classeur #folder-content thead th a {
	padding:0 20px;
	background:0 3px no-repeat;
}
#classeur #folder-content thead th a:hover {text-decoration:underline;}
#classeur #folder-content thead th a.ASC {background-image:url(../../../themes/default/images/sort_up_off.png);}
#classeur #folder-content thead th a.ASC:hover, #classeur #folder-content thead th a:hover {background-image:url(../../../themes/default/images/sort_down_on.png);}
#classeur #folder-content thead th a.DESC {background-image:url(../../../themes/default/images/sort_down_off.png);}
#classeur #folder-content thead th a.DESC:hover {background-image:url(../../../themes/default/images/sort_up_on.png);}
/* End list view */


/* Mass Actions */
#classeur .mass-actions {
  clear:both;
  margin:0; padding:0;
  list-style:none;
}
#classeur .mass-actions li {
	float:left;
	margin-right:10px;
}
/* End mass actions */


/* Forms */
form {margin:20px 0;}
form div.row {
	position:relative;
	margin:0 0 6px 0;
}
form div.row > label, form div.row p.label {
	position:absolute; top:0; left:0;
	width:39%;
	margin:0;
	text-align:right;
}
form div.row .field {
	margin:0 0 0 40%;
}
form .row input[type="text"], form .row input[type="url"], form .row input[type="email"], form .row textarea {
	width:350px;
}
form div.submit {
	margin:10px 0 0 40%;
}
form div.submit input {margin:0 5px;}
form input[readonly="readonly"] {background:#ddd;}
/* End forms */


/* Public album */
ul.actions li {
	float:left;
	margin:0 5px;
	list-style:none;
}
/* End public album */