
.noPrint,
div.submenu,
#left,
#right,
#footer,
#page-header,
#page-bottom,
#contenttop,
#contentbottom,
#breadcrumb,
#submenu,
div.tools_right div.dashpanel div.toolset,
.button,
.mesgSuccess, 
.mesgErrors, 
.mesgError
 {
	display:none;

}

div.dashpanel div.content {
  padding:0;
}
div.dashboard div.bu_classe div.content {
  border:0;
}

#content {
  margin:0;
  left:0;
}

#absolute {
  position:relative;
}

#absolute, #popup, #page, #page-header, #page-middle, #header, #top, #menuleft, #menuright, #breadcrumb, #left, #right, .padder, .marger {
  overflow:visible;
}

#main-wrapper {
  width:100%;
  background:red;
}
.wrapper {
  margin:0;
}

.marger {
  margin:0;
  overflow:hidden;
}
.wrapper-expander {
  width:auto;
}
.wrapper-shifter {
  float:none;
  left:0;
  width:auto;
}
div.tools_right div.dashpanel {
  width:auto;
}
div.dashpanel div.content {
  border:0;
}

div.dashboard {
  margin:0;
  padding:0;
}

