<?xml version="1.0" encoding="iso-8859-1"?>
<moduledefinition>
    <general>
        <default name="simplehelp" descriptioni18n="simplehelp.description" longdescriptioni18n="simplehelp.longdescription" icon="|img/icon/simplehelp.png" />
    </general>
    <admin>
		<link url="simplehelp|admin|listaide" captioni18n="simplehelp.title.list" credentials="basic:admin"></link>
		<link url="simplehelp|admin|create" captioni18n="simplehelp.title.create" credentials="basic:admin"></link>
	</admin>
</moduledefinition>