<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="wsserver" descriptioni18n="wsserver.description" longdescriptioni18n="wsserver.longdescription" icon="wsserver.png" />
 </general>
 <parameters>
 	<parameter name="exportedModule" captioni18n="wsserver.parameter.exportedModule" default="wsserver"></parameter>
 	<parameter name="exportedClassFile" captioni18n="wsserver.parameter.exportedClassFile" default="sample.services.class.php"></parameter>
 	<parameter name="exportedClass" captioni18n="wsserver.parameter.exportedClass" default="SampleServices"></parameter>
 </parameters>
 <admin>
 	<link url="wsserver|admin|manageWebServices" captioni18n="wsserver.admin.manageWebServices" credentials="basic:admin"></link>
 	<link url="wsserver|admin|listWebServices" captioni18n="wsserver.admin.listWebServices" credentials="basic:admin"></link>
 </admin>
 <dependencies>
 	<dependency name="soap" kind="extension" />
 </dependencies>
</moduledefinition>