php_value memory_limit 128M
php_value upload_max_filesize 100M
php_value post_max_size 100M

AddDefaultCharset utf-8
RewriteEngine On
RewriteBase /
RewriteRule ^index.php/blog/default/static/(.*)$ static/$1 [QSA,L,R=301]
RewriteRule ^index.php/static/(.*)$ static/$1 [QSA,R=301]
RewriteRule ^static/classeur/(.*\.(jpg|jpeg|png|gif))$ miniature.php?url=classeur/$1 [QSA,L,R=301]
