#php_value error_reporting 7
#php_value memory_limit 512M
php_value error_reporting 6143
AddDefaultCharset utf-8
RewriteEngine On
RewriteBase /
RewriteRule ^index.php/blog/default/static/(.*)$ static/$1 [QSA,L,R=301]
RewriteRule ^index.php/static/(.*)$ static/$1 [QSA,R=301]
RewriteRule ^static/classeur/(.*)$ miniature.php?url=classeur/$1 [QSA,L,R=301]
RewriteRule ^static/album/(.*)$ miniature.php?url=album/$1 [QSA,L,R=301]
