
Pour ajouter vos photos à votre album dans ICONITO, vous avez deux possibilités. Mais dans tous les cas, assurez-vous de bien repérer dans quel répertoire se situent vos photos sur votre ordinateur. 

<p></p>
<div class="helpTitle">Fichier par fichier</div>
<img src="{copixresource path="img/album/help_ajoutphoto_fr.jpg"}" alt="copie écran" class="floatright"/>

<ol>
<li> Cliquez sur l'icône de votre album photo. 
<li> Cliquez sur "Ajouter une photo" dans la barre grise de sous-menu
<li> Sur la page d'ajout, cliquez sur "Parcourir..." (voir image). Retrouvez alors la photo à charger sur votre ordinateur (formats JPEG et GIF acceptés). Si vous le souhaitez, vous pouvez entrer un titre et un commentaire associés à votre photo.
<li> Cliquez sur "Envoyer". L'image va alors se transférer de votre ordinateur jusqu'au serveur ICONITO. Différentes tailles d'image seront alors enregistrées automatiquement, ce qui vous permettra une grande souplesse dans le cadre de l'utilisation de cette image pour illustrer un blog par exemple.
</ol>

<br clear=all></br>
<p></p>

<div class="helpTitle">Plusieurs fichiers d'un coup</div>

<ol>
<li> Cliquez sur l'icône de votre album photo. 
<li> Cliquez sur "Ajouter une archive (zip)" dans la barre grise de sous-menu
<li> Sur la page d'ajout, cliquez sur "Parcourir..." (voir image). Retrouvez alors le fichier zip contenant des photos au format JPEG ou GIF.
<li> Cliquez sur "Envoyer". Le fichier va alors se transférer de votre ordinateur jusqu'au serveur ICONITO (ça peut prendre du temps si le fichier est gros, inutile de cliquer frénétiquement sur le bouton pour accélérer les choses!). Différentes tailles d'image seront alors enregistrées automatiquement, ce qui vous permettra une grande souplesse dans le cadre de l'utilisation de cette image pour illustrer un blog par exemple.
</ol>