<?xml version="1.0" encoding="UTF-8"?>
<moduledefinition>
	<general>
		<default name="wikirender" descriptioni18n="wikirender.moduledescription"
			longdescriptioni18n="wikirender.longdescription" icon="wikirender.png" />
	</general>
	<dependencies>
		<dependency name="geshi" kind="module" />
	</dependencies>
</moduledefinition>