<?xml version="1.0" encoding="iso-8859-1"?>
<moduledefinition>
    <general>
        <default name="groupe" descriptioni18n="groupe.moduleDescription"/>
        <package name="copixdivers" version="2.2" />
    </general>
    <parameters>
 	    <parameter name="list_nbgroupes" captioni18n="groupe.parameter.list_nbgroupes" default="10" />
	    <parameter name="ponderation" captioni18n="groupe.ponderation" default="5" />
  	</parameters>
</moduledefinition>