<div id="apropos" class="dashboard">

<h1>Mentions &amp; cr&eacute;dits</h1>

<p>Bienvenue sur la page tant appr&eacute;ci&eacute;e des
mentions l&eacute;gales et des cr&eacute;dits !</p>

<p>Iconito Ecole Num&eacute;rique est un outil libre g&eacute;r&eacute; par
CAP-TIC. Cette &eacute;dition 2010 vous propose une toute nouvelle
ergonomie, que nous esp&eacute;rons plus simple et plus claire. Parmi
les autres nouveaut&eacute;s: un outil int&eacute;gr&eacute; de gestion
des usagers , des quiz dans les groupes de travail, l'interfa&ccedil;age
avec le KNE, la possibilit&eacute; pour un administrateur de
r&eacute;gler la matrice des droits pour les mini-mails et l'annuaire,
la gestion d'alertes mails externes, etc.</p>

<h2>Guide utilisateur Iconito Ecole Num&eacute;rique</h2>

<ul>
	<li><a href="http://www.iconito.fr/telechargement/documentation/62-utilisation-ecole-numerique">
		Documentation Iconito</a>  &mdash;Consultez notre rubrique de documentation utilisateur d&eacute;di&eacute;e &agrave;
		Iconito Ecole Num&eacute;rique 2010. Vous pourrez y t&eacute;l&eacute;charger le guide complet d'utilisation,
		en PDF et en couleur.
	</li>	
</ul>

<h2>Plus d'informations sur Iconito</h2>

<ul>
	<li><a href="http://www.iconito.fr">iconito.fr</a> &mdash;
	Le site officiel d'Iconito Ecole Num&eacute;rique et des autres
	logiciels libres de la gamme.</li>
	<li><a href="http://adullact.net/news/?group_id=210" target="_new">adullact.net</a>
	&mdash; La page d'Iconito &agrave; l'Association des
	D&eacute;veloppeurs et des Utilisateurs de Logiciels Libres pour
	l'Administration et les Collectivit&eacute;s Territoriales.</li>
</ul>


<h2>Sous le capot</h2>

Iconito utilise les technologies ou les produits suivants:
<p>

<ul>
	<li><a href="http://www.php.net" target="_new">PHP</a> et <a
		href="http://www.mysql.org" target="_new">mySQL</a> &mdash; Les
	technologies de base d'Iconito</li>

	<li><a href="http://svn.copix.org/browser/trunk" target="_new">Copix</a> &mdash;
	Le framework de d&eacute;veloppement d'Iconito, int&eacute;grant
	notamment le mod&egrave;le MVC, l'internationnalisation, les templates,
	les sch&eacute;mas XML de base de donn&eacute;es, etc.</li>

	<li><a href="http://www.airtightinteractive.com/simpleviewer/"
		target="_new">SimpleViewer</a> &mdash; Visualisation en Flash des
	albums photos</li>

	<li><a href="http://www.alsacreations.fr/dewplayer" target="_new">DewPlayer</a>
	&mdash; Player MP3 des sons dans les blogs, de nos amis
	d'Alsacr&eacute;ations</li>

	<li><a href="http://www.alsacreations.fr/dewslider" target="_new">DewSlider</a>
	&mdash; Diaporama d'images, en Flash, des m&ecirc;mes
	Alsacr&eacute;ations</li>

	<li><a href="http://ckeditor.com" target="_new">CKeditor</a>
	&mdash; Editeur par d&eacute;faut des articles et textes longs</li>
</ul>

<h2>Visio-conf&eacute;rence</h2>

Module d&eacute;velopp&eacute; par Jean-Michel Ramseyer (client flash, serveur de visio) et Fr&eacute;d&eacute;ric Mossmann (int&eacute;gration Iconito)

<h2>En cas de probl&egrave;me</h2>

<p>Contactez d'abord la personne qui vous a fourni votre identifiant et votre mot de passe. Sinon, contactez l'organisme qui a install&eacute;
Iconito pour vous. Vous pouvez &eacute;galement consulter le guide utilisateur (voir plus haut) ou l'espace d'aide d'Iconito si celui-ci
a &eacute;t&eacute; ouvert (ic&ocirc;ne en haut &agrave; droite de la page, pr&egrave;s du bouton de d&eacute;connexion).
</p>

<h2>Contact</h2>

<p>
Vous pouvez contacter l'&eacute;quipe Iconito par mail &agrave; <a href="javascript:self.location='mailto:info@iconito'+'.fr'">info[at]iconito.fr</a>,
pour toute remarque g&eacute;n&eacute;rale ou suggestion.
</p>

<p>Merci &agrave; vous d'utiliser Iconito !</p>

<div class="sig">L'&eacute;quipe Iconito par ordre alphab&eacute;tique: Christophe,
Fr&eacute;d&eacute;ric, Fr&eacute;d&eacute;ric, Hubert,
J&eacute;r&eacute;my, Pierre-Nicolas, S&eacute;bastien, St&eacute;phane...
</div>

<div class=legal>&copy; 2005-2010 <a href="http://www.cap-tic.fr">CAP-TIC</a>. Logiciel sous licence libre, GNU LGPL.</div>

</div>
