<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
 <general>
  <default name="admin" longdescriptioni18n="install.longdescription" descriptioni18n="install.description" icon="admin.png"  />
 </general>
 <admin>
  <link url="admin|install|manageModules" captioni18n="install.button.manageModules" credentials="basic:admin" />
  <link url="admin|plugin|" captioni18n="install.button.managePlugins" credentials="basic:admin" />
  <link url="admin||clearTemp" captioni18n="install.messages.cleartemp" credentials="basic:admin" />
  <link url="admin|session|" captioni18n="session.admin" credentials="basic:admin" />
  <link url="admin|log|" captioni18n="install.button.showLog" credentials="basic:admin" />
  <link url="admin|log|admin"  captioni18n="logs.admin" credentials="basic:admin" />
  <link url="admin|cache|admin"  captioni18n="cache.admin" credentials="basic:admin" />
  <link url="admin|database|" captioni18n="install.messages.databases" credentials="basic:admin" />
  <link url="admin|themes|" captioni18n="install.messages.theme" credentials="basic:admin" />
  <link url="admin|parameters|" captioni18n="install.messages.parameters" credentials="basic:admin" />
  <link url="admin|install|selectHomePage" captioni18n="install.messages.homePage" credentials="basic:admin" />
  <!--<link url="admin|default|phpinfo" caption="phpinfo" credentials="basic:admin" />-->
  <link url="admin|email|create" captioni18n="email.link" credentials="basic:admin" />
  <link url="admin||rebuildClassPath" captioni18n="install.button.rebuildClassPath" credentials="basic:admin" />
 </admin>
 <parameters>
  <parameter name="defaultThemeId" captioni18n="themes.parameters.defaultThemeId" default="default" />
 </parameters>
 <credentialhandlers>
 	<credentialhandler name='installcredentialhandler' stopOnSuccess='true' stopOnFailure='false' />
 </credentialhandlers>
</moduledefinition>