
Pour envoyer un minimail, il suffit de compléter le formulaire comprenant les champs suivants :

<p></p>
<DIV CLASS="helpTitle">Destinataire(s)</DIV>
<img src="{copixresource path="img/minimail/help_annuaire.gif"}" class="right" alt="" />
Renseignez le nom d'utilisateur ("login") de la personne à qui vous souhaitez écrire. Si vous ne connaissez pas son login, utiliser la recherche dans l'annuaire (voir ci-contre) pour le trouver. Vous pouvez aussi écrire à plusieurs destinataires, en séparant les logins des destinataires par des virgules.

<p></p>
<DIV CLASS="helpTitle">Titre</DIV>
Le titre de votre message. Soyez synthétique et essayez d'introduire l'objet de votre message.

<p></p>
<DIV CLASS="helpTitle">Message</DIV>
<img src="{copixresource path="img/minimail/help_wiki.gif"}" class="right" alt="" />Saisissez le corps de votre message. Vous pouvez mettre en forme certaines parties du message (gras, italique), ou insérer un lien, une image... en utilisant les boutons de la barre de mise en forme située sous la zone de saisie (voir ci-contre).

<p></p>
<DIV CLASS="helpTitle">Pièces jointes</DIV>
Chaque minimail peut contenir jusqu'à 3 pièces jointes, et chaque fichier ne doit pas dépasser 2 Mo. Pour joindre un fichier au message, cliquez sur le bouton "Parcourir", déplacez-vous dans le répertoire contenant le fichier, sélectionnez le fichier et appuyez sur "Ouvrir".









