
Au travers des minimails, Iconito permet à ses utilisateurs de communiquer entre eux : chaque personne connectée et identifiée sur Iconito a la possibilité de facilement contacter un autre utilisateur.

<p></p>
<DIV CLASS="helpTitle">Un système sécurisé</DIV>
Ce système de messagerie, totalement interne à Iconito, n'est pas ouvert sur l'extérieur. Il n'y a ainsi aucun risque de recevoir des messages indésirables ("spams") risquant de contenir des virus. Tous les échanges reposent sur les noms d'utilisateurs ("logins").

<p></p>
<DIV CLASS="helpTitle">Pièces jointes</DIV>
Il est possible de joindre jusqu'à 3 fichiers à chaque minimail.


