<?xml version="1.0" encoding="utf-8"?>
<moduledefinition>
	<general>
		<default name="default" descriptioni18n="default.description" icon="default.png" />
	</general>
	<parameters>
		<group captioni18n="parameter.group.title">
			<parameter name="homePage" captioni18n="parameter.homePage" default="index.php?module=instruction" />
			<parameter name="titlePage" captioni18n="parameter.titlePage" default="Iconito" />
			<parameter name="titleBar" captioni18n="parameter.titleBar" default="{$TITLE_PAGE} - Iconito"  />
		</group>
		<group captioni18n="parameter.group.mail">
			<parameter name="mailEnabled" captioni18n="parameter.mailEnabled" default="1" type="bool"  />
			<parameter name="mailLogging" captioni18n="parameter.mailLogging" default="0" type="bool" />
			<parameter name="mailFrom" captioni18n="parameter.mailFrom" default="support@cap-tic.fr"  />
			<parameter name="mailFromName" captioni18n="parameter.mailFromName" default="support@cap-tic.fr"  />
			<parameter name="mailAlwaysBcc" captioni18n="parameter.mailAlwaysBcc" default=""  />
			<parameter name="mailMethod" captioni18n="parameter.mailMethod" default="smtp" type="select" listValues="mail=>Fonction mail () PHP;smtp=>Serveur SMTP" />
			<parameter name="mailSmtpHost" captioni18n="parameter.mailSmtpHost" default="zorg.cdc"  />
			<parameter name="mailSmtpAuth" captioni18n="parameter.mailAuth" default=""  />
			<parameter name="mailSmtpPass" captioni18n="parameter.mailPass" default=""  />
		</group>
		<group captioni18n="parameter.group.proxy">
			<parameter name="proxyEnabled" captioni18n="parameter.proxyEnabled" default="0" type="bool" />
			<parameter name="proxyHost" captioni18n="parameter.proxyHost" default=""  />
			<parameter name="proxyPort" captioni18n="parameter.proxyPort" default="" type="int"  />
			<parameter name="proxyUser" captioni18n="parameter.proxyUser" default=""  />
			<parameter name="proxyPass" captioni18n="parameter.proxyPass" default=""  />
		</group>
		<group captioni18n="parameter.group.webservices">
			<parameter name="webservicesInterface" captioni18n="parameter.webservicesInterface" default=""  />
		</group>
   </parameters>
</moduledefinition>