@CHARSET "UTF-8";
html {
  	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%
}
.pane-container{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.pane{  
  position: absolute;
}
.vertical-divider{  
  background: #fff url('../img/e-handle.gif') left; 
}
.horizontal-divider{  
  background: #fff url('../img/s-handle.gif') top;
}