<?xml version="1.0" encoding="iso-8859-1"?>
<moduledefinition>
    <general>
        <default name="auth" descriptioni18n="auth.description"  longdescriptioni18n="auth.longdescription" />
        <package name="copix" version="2.2" />
    </general>

    <parameters>
      <parameter name="secureSessionWithIp" captioni18n="auth.parameter.secureSessionWithIp" default="0" />
      <parameter name="afterLogin" captioni18n="auth.parameter.afterLogin" default="index.php" />
      <parameter name="afterLogout"  captioni18n="auth.parameter.afterLogout"  default="index.php" />
      <parameter name="enableAfterLoginOverride" captioni18n="auth.parameter.enableAfterLoginOverride" default="1" />
      <parameter name="enableAfterLogoutOverride" captioni18n="auth.parameter.enableAfterLogoutOverride" default="0" />
      <parameter name="enableSendLostPassword" captioni18n="auth.parameter.enableSendLostPassword" default="0" />
      <parameter name="intervalBetweenFailedLogin" captioni18n="auth.parameter.intervalBetweenFailedLogin"  default="2" />
      </parameters>
</moduledefinition>